.carousel {

}
.carousel ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}
.carousel li {
    padding: 0;
    margin: 6px;
    display: block;
    float: left;
}
.carousel.responsive {
    width: auto;
    margin-left: 0;
}