.or {
    border-bottom: 1px solid #C7DAEF;
    margin-bottom: 20px;
    margin-top: 20px;
}
.or span {
    background: none repeat scroll 0 0 #F7F7FD;
    color: #85AAD4;
    display: block;
    font-size: 14px;
    height: 20px;
    margin: 0 auto -10px;
    text-align: center;
    width: 25px;
}