/*

SCRATCH.CSS 

*/

#mainItem {
	position: relative;
}

//less chokes on this rule, so I've stowed it here for now
.search-bar input[type="text"] {
	background: #161615; // Old browsers 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#161615', endColorstr='#1e1d1c',GradientType=0 ); // IE6-9
}

@font-face {
    font-family: 'HarabaraRegular';
    src: url('../font/harabara-webfont.eot');
    src: url('../font/harabara-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/harabara-webfont.woff') format('woff'),
         url('../font/harabara-webfont.ttf') format('truetype'),
         url('../font/harabara-webfont.svg#HarabaraRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

//css3 spinner

@-webkit-keyframes spinner {
  0% { opacity:1; }
  100% { opacity:.1; }
}

@-moz-keyframes spinner {
  0% { opacity:1; }
  100% { opacity:.1; }
}

div.spinner {
  top:50%;
  left:50%;
  width:32px;
  height:0;
  margin:-16px 0 0 -16px;
  padding-top:32px;
  position:absolute;
  overflow:hidden;
  z-index: 7000;
}
div.spinner span {
  position:absolute;
  width:25%;
  height:25%;
  background:rgb(93, 108, 127);
  -webkit-border-radius:16px;
  -moz-border-radius:16px;
  border-radius:16px;
  -webkit-animation:spinner 1s linear infinite;
  -moz-animation:spinner 1s linear infinite;
  -webkit-box-shadow:0 1px 0 rgba(0, 0, 0, .7) inset, 0 1px 0 rgba(255, 255, 255, .7);
}
div.spinner :nth-child(1) {
  top:0;
  right:12px;
  -webkit-animation-delay:.125s;
  -moz-animation-delay:.125s;
}

div.spinner :nth-child(2) {
  top:4px;
  right:4px;
  -webkit-animation-delay:.25s;
  -moz-animation-delay:.25s;
}

div.spinner :nth-child(3) {
  top:12px;
  right:0;
  -webkit-animation-delay:.375s;
  -moz-animation-delay:.375s;
}

div.spinner :nth-child(4) {
  bottom:4px;
  right:4px;
  -webkit-animation-delay:.5s;
  -moz-animation-delay:.5s;
}

div.spinner :nth-child(5) {
  bottom:0;
  right:12px;
  -webkit-animation-delay:.625s;
  -moz-animation-delay:.625s;
}

div.spinner :nth-child(6) {
  bottom:4px;
  left:4px;
  -webkit-animation-delay:.75s;
  -moz-animation-delay:.75s;
}

div.spinner :nth-child(7) {
  bottom:12px;
  left:0;
  -webkit-animation-delay:.875s;
  -moz-animation-delay:.875s;
}

div.spinner :nth-child(8) {
  top:4px;
  left:4px;
  -webkit-animation-delay:.975s;
  -moz-animation-delay:.975s;
}​