

<div style="
	border: 1px solid #dedede;
	width: 1180px;
	height: 900px;
	@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700);
	font-family: 'Oxygen', sans-serif;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
">
	<div style="
		border-bottom: 1px solid #dedede;
		padding: 20px;
		text-align: center;
		border-radius: 5px 5px 0 0;
		-moz-border-radius: 5px 5px 0 0;
		-webkit-border-radius: 5px 5px 0 0;
	">
		<img src="trackacompany.png" alt="" style="
			max-width: 250px;
			float: left;
		">
		<h2 style="
			display: inline-block;
			margin: 0;
			margin-left: -200px;
		"
		>Title</h2>
	</div>
		<iframe style="
		border: none;
		" src="http://www.trackacompany.com" width="1180" height="800">
		</iframe>
	<div style="
		border-top: 1px solid #dedede;
		border-radius: 0 0 5px 5px;
		-moz-border-radius: 0 0 5px 5px;
		-webkit-border-radius: 0 0 5px 5px;
		padding: 20px;	
		background: #1C2A3A;
		height: 100%;
		height: auto;
		overflow: hidden;
	">
		<input type="text" name="" value="" placeholder="Track Your Own Company Now" style="
			padding: 12px;
			font-size: 14px;
			line-height: 1.42857143;
			border: 1px solid #cccccc;
			box-shadow: none;
			color: #839dac;
			display: block;
			width: 30%;
			height: 50px;
			font-size: 20px;
			line-height: 1.428571429;
			color: #555;
			vertical-align: middle;
			background-color: #fff;
			border: 1px solid #ccc;
			border-radius: 4px;
			-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
			box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
			-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
			transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
			float: left;
		">
		<button type="submit" style="
			float: left;
			padding: 16px;
			background: #F16639;
			color: white;
			font-size: 16px;
			font-weight: bold;
			text-shadow: none;
			border: none;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			margin: 0;
			margin-left: 10px;
			cursor: pointer;
		">
			SEARCH
		</button>
		<a href="#" title="" style="
			display: inline-block;
			float: right;
			margin-top: 12px;
		">
			<img src="fullscreen.png" alt="" style="
			">
		</a>
	</div>
</div>