
//ToDO, add this to OpenSide
.grid {
	background: white;
	.shadow;
	.border-radius;
	.cf;
	&.horizontal {
		.cell {
			float: left;
			border-right: 1px solid @lightGray;
			padding: 20px;
			&:last-child {
				border-right: 0;
			}
		}
		&.two {
			.cell {
				width: 50%;
			}
		}
		&.three {
			.cell {
				width: 33.33333%;
			}
		}
		&.four {
			.cell {
				width: 25%;
			}
		}
		&.five {
			.cell {
				width: 20%;
			}
		}
		&.six {
			.cell {
				width: percentage(100/600);
			}
		}
		&.seven {
			.cell {
				width: percentage(100/700);
			}
		}
		&.eight {
			.cell {
				width: percentage(100/800);
			}
		}
		&.nine {
			.cell {
				width: percentage(100/900);
			}
		}
		&.ten {
			.cell {
				width: percentage(100/1000);
			}
		}
	}
	&.vertical {
		.cell {
			padding: 20px;
			border-bottom: 1px solid @lightGray;
			&:last-child {
				border-bottom: 0;
			}
		}
	}
}


.how_credits_works {
	.how_credits_table {
		.cell {
			text-align: center;
			position: relative;
			padding-bottom: 40px;
			h2 {
				font-weight: 300;
				color: @darkBlue;
				font-size: 28px;
			}
			h3 {
				font-weight: 700;
				color: @Orange;
				font-size: 22px;
			}
			p.note {
				position: absolute;
				bottom: 0px;
				left: 0px;
				display: block;
				padding: 0 20px;
				width: 100%;
			}
		}
	}
	.example {
		margin-top: 40px;
		h5 {
			text-align: center;
		}
		.well {
			background: white;
			margin-bottom: 5px;
			padding: 10px;
			h3 {
				color: #9EA6B2;
				font-weight: bold;
				font-size: 18px;
				line-height: 28px;
				text-align: left;
				margin-bottom: 0;
				margin-top: 0;
				line-height: 28px;
			}
			h4 {
				color: #1A2A39;
				font-size: 16px;
				text-align: right;
				font-weight: normal;
				margin-bottom: 0;
				margin-top: 0;
				line-height: 28px;
			}
			p.note {
				line-height: 28px;
				margin-bottom: 0;
				text-align: right;
			}
			ul {
				margin: 0;
				padding: 0;
				li {
					margin: 0;
					list-style-type: none;
					border-top: 1px solid @lightGray;
					padding: 10px 20px;
					.cf;
					h3 {
						float: left;
						color: #9EA6B2;
						font-weight: normal;
					}
					h4 {
						float: right;
						
						font-size: 16px;

					}
				}
			}
		}
		.total {
			h3 {
				color: #9EA6B2;
				text-align: left;
				line-height: 36px;
			}
			h4 {
				color: @Orange;
				text-align: right;
				font-size: 22px;
				line-height: 36px;
			}
		}
	}
}


.add_more_credits {
	.plan_details {
		h2 {
			font-weight: normal;
			font-size: 20px;
			color: #9EA6B2;
			strong {
				color: @darkBlue;
				font-weight: normal;
			}
		}
		.left {
			padding-right: 20px;
			text-align: right;
		}
		.right {
			padding-left: 20px;
			text-align: left;
		}
	}
	.cell:last-child {
		h2 {
			font-weight: bold !important;
		}
		.left {
			h2 {
				color: @darkBlue !important;
			}
		}
		.right {
			h2 {
				color: @Orange !important;
			}
		}
	}
	p.note {
		margin-top: 10px;
	}
} 

.display {
	background: white;
	padding: 20px 0 40px 0;
	text-align: center;
	hr {
		margin: 40px 0;
	}
	h1 {

	}
	h4 {
		font-size: 20px;
		line-height: 32px;
		color: @darkBlue;
		font-weight: 300;
	}
	h5 {
		font-size: 20px;
		color: #9EA7B3;
		font-weight: 300;
	}
	h6 {
		text-align: left;
		margin-left: 40px;
		font-weight: 300;
		font-size: 20px;
		color: @darkBlue;
	}
}

form.upgrade_buy_credits {
	padding: 20px 40px 0 40px;
	margin-bottom: 0;

	fieldset {
		margin: 0 0 40px 0;
	}
	legend {
		border: 0;
		text-align: left;
		font-size: 16px;
		font-weight: bold;
	}
	input[type="radio"] {
    display:none; 
	}

	label {
		display:inline-block;
		cursor: pointer;
		background: white;
		width: 200px;
		margin: 0 10px;
		float: left;
		header {
			color: @darkBlue;
			font-size: 16px;
			border: 1px solid @borderGray;
			border-bottom: none;
			.border-radius(5px 5px 0 0);
			padding: 15px 0;
    }
    article	{
    	color: @darkBlue;
			font-size: 16px;
			border: 1px solid @borderGray;
			border-bottom: none;
			padding: 20px 0;
			.cf;
			span {
				width: 50%;
				float: left;
				display: inline-block;
				h2 {
					color: @Orange;
				}
				h5 {
					color: @darkGray;
				}
			}
    }
    footer {
    	padding: 15px 0;
    	color: @Blue;
			font-size: 16px;
			border: 1px solid @borderGray;
			.border-radius(0 0 5px 5px);
			span {
				&:after {
	    		content: 'Choose';
	    		display: inline-block;
	    	}
			}
    }
	}

	input[type="radio"]:checked + label { 
    header {
    	background: @darkBlue;
    	color: white;
    	border: none;
    }
    article	{
    	border: none;
    	background: @Orange;
    	span {
    		h2, h5 {
    			color: white;
    		}
    	}
    }
    footer {
    	border: none;
    	background: @Blue;
    	color: white;
    	&:before {
    		content: "\f00c";
  			display: inline-block;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				line-height: 1;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;

				margin-right: 3px;

    	}
    	span {
  			&:after {
	    		content: 'Choosed';
	    	}
    	}
    }
	}
}