body {
	
}

.tracka_app {
	h1, h2, h3, h4, h5, h6 {
		color: #252525;
	}
	.btn {
		background: #0067da;
		color: white;
	}
	a {
		color: #0067da;
	}
	header.tracka {
		padding-top: 40px;
		h4 {
			font-family: Georgia;
			color: #252525;
			font-weight: normal;
			font-size: 20px;
			line-height: 28px;
			border-bottom: 1px dotted #252525;
			padding-bottom: 40px;
		}
	}
	.start-form {
		fieldset {
			margin: 30px 0;
		}
		label {
			display: block;
		}
		input[type="text"] {
			.border-radius;
			border: 1px solid #b0b0b0;
			width: 100%;
			padding: 5px 7px;
			outline: 0;
		}
	}


	button.submit {
		background: #0067da;
		border: 0;
		color: white;
		padding: 10px 15px;
		font-size: 18px;
		font-family: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;  font-stretch:normal;
		font-weight: 700;
	}
	article.tracka {
		text-align: center;
		img {
			margin: 0 auto 0;

		}
		.keypoints {
			margin: 0;
			padding: 0;
			text-align: center;
			li {
				margin: 0;
				padding: 0;
				list-style-type: none;
				display: inline-block;
				width: 33%;
				text-align: center;
				box-sizing: border-box;
				font-size: 16px;
				padding: 20px;
				i {
					font-size: 32px;
				}
				span {
					display: block;
				}
			}
		}
	}
	&.compare {
		.flow {
			padding-top: 20px;
			width: 1140px;
			margin: 0 auto;
			@media (max-width: 1199px) {
				width: 913px;
			}
			@media (max-width: 992px) {
				width: 690px;
			}
			@media (max-width: 768px) {
				width: 460px;
			}
			@media (max-width: 480px) {
				width: 300px;
			}

			.low-row {
				.sources_holder {
					overflow: hidden;	
				}
			}
			.steps {
				margin: 0;
				padding: 0;
				text-align: center;
				li {
					margin: 0;
					padding: 0;
					list-style-type: none;
					display: inline-block;
					width: 25%;
					text-align: center;
					box-sizing: border-box;
					font-size: 16px;
					padding: 20px;
					vertical-align: top;
					background: white;
					height: 142px;
					i {
						font-size: 42px;
						span {
							font-size: 24px;
						}
					}
					span {
						display: block;

					}
				}
			}
		}
	}

	.popover-title {
		background: #00A4C7;
		color: white;
		font-weight: bold;
	}
}




.dots {
  width: 220px;
  margin: 60px auto 0 auto;
  text-align: center;
  
   .dot{
     
  }
  
.scale(@ratio) {                                  
	-webkit-transform: scale(@ratio);
      -moz-transform: scale(@ratio);
       -ms-transform: scale(@ratio);
        -o-transform: scale(@ratio);
           transform: scale(@ratio);
 }


@-webkit-keyframes fade-scale-up {
  0% {
    opacity: 1;
    .scale(0);
  }

  50% {
    opacity: 1;
    .scale(1);
  }

  100% {
    opacity: 1;
    .scale(1.5);
  }
}

.explode {
  animation: fade-scale-up 1.5s linear infinite;
  -webkit-animation: fade-scale-up 1.5s linear infinite;
  animation-name: fade-scale-up;
}

.dot {
        position: relative;
        margin: 0 25px;
        width: 15px;
        height: 15px;
        border-radius: 100px;
        border: 1px solid #0067da;
        opacity: 0;
        display: inline-block;
        .scale(1.2);
        background-color: #0067da;
    
     &:nth-child(1) {
        -webkit-animation-delay: 0s;
        -moz-animation-delay: 0s;
        &:before {
          -webkit-animation-delay: .5s;
          -moz-animation-delay: .5s;
        }
      }
    
      &:nth-child(2) { 
        -webkit-animation-delay: .5s;
        -moz-animation-delay: .5s;
      
        &:before {
          -webkit-animation-delay: 1s;
          -moz-animation-delay: 1s;
        }
      }
    
      &:nth-child(3) { 
        -webkit-animation-delay: 1s;
        -moz-animation-delay: 1s;
      
        &:before {
          -webkit-animation-delay: 1.5s;
          -moz-animation-delay: 1.5s;
        }
     }

  }
}

.fa-facebook-square {
	color: @facebook;
}


#processing {
	text-align: center;
	h4 {
		font-family: Georgia;	
		font-weight: normal;
		color: #0067da;
	}
	.progress {
		.border-radius(0);
		margin: 40px 0;
	}
	h3 {
		font-family: Georgia;
		width: 50%;
		margin: 0 auto;
		line-height: 24px;
	}
	.extra_services {
		/*test*/
	}
}

.extra_services {
	margin: 40px 0;
	font-family: Georgia;	
	li {
		display: inline-block;
		margin: 0 20px;
		width: 110px;
		vertical-align: top;
		label {
			input[type="checkbox"] {
				vertical-align: top;
				float: inherit;
				margin-left: 0;
				margin-bottom: 10px;
			}
			span {
				display: block;
			}
		}
	}
}


.tracka.submit_data a {
	background: #1C2A3A;
	font-size: 20px;
	padding: 20px 0;
	width: 300px;
	margin-top: 30px;
}


//TODO: Move this to OpenSide
.headline {
	margin: 30px 0;
	text-align: center;
	position: relative;
	height: 50px;
	&:before {
		margin-top: 15px;
		display: inline-block;
		content: '';
		width: 100%;
		border-top: none;
		border-bottom: 1px solid white;
		height: 5px;
		background: #C6CBD0;
		.border-radius(3px);
		z-index: 1;
	}
	h2 {
		background: #f1f3f5;
		margin: -20px auto;
		left: 0;
		right: 0;
		height: 40px;
		display: inline-block;
		padding: 0 20px;
	}
}