.tracka-header {
	.container {
		position: relative;
	}
	.tracka_actions {
		position: absolute;
		top: 0;
		right: 0;
		a {
			display: inline-block;
			background: #414141;
			padding: 10px 20px;
			color: white;
			text-align: center;
			font-weight: bold;
			&.download {

			}
			&.upgrade {
				background: #0f7bd6;
			}
		}
	}
}

.tracka_app {
	h1 {
		margin-bottom: 30px;
		text-align: center;
	}
	.nav-pills {
		margin-bottom: 20px;
	}
}

.select_report {
	margin: 0 0 40px;
	padding-bottom: 40px;
	border-bottom: 1 dotted black;
}
.select_company, .select_source {
	overflow: auto;
	width: 535px;
	ul {
		margin: 0;
		padding: 0;
		width: 704px;
		.clearfix;
		display: inline-table;
		li {
			margin: 0;
			padding: 0;
			display: inline-block;
			list-style-type: none;
			float: left;
			width: 176px;
			text-align: center;
			height: 90px;
			input[type="radio"] + label {
				img {
					zoom: 1;
					opacity: 0.5;
				}
				h4 {
					color: @Gray;
				}
			}
			input[type="radio"]:checked + label {
				img {
					zoom: 1;
					opacity: 1;
				}
				h4 {
					color: Black;
				}
			}
			label {
				border: 2px solid #BEBEBE;
				padding: 5px;
				.border-radius(5px);
				width: 150px;
				height: 74px;
				img {
					max-width: 50px;
					max-height: 30px;
					margin: 0 auto;
					width: auto !important;
				}
				h4 {
					display: block;
					margin: 5px 0 0 0;
					font-size: 12px;
				}
				&:before {
					margin-bottom: 10px;
				}
			}

			.rd-facebook label:before {
				content: '\f09a' !important;
			}
			.rd-twitter label:before {
				content: '\f099' !important;
			}
			.rd-googleplus label:before {
				content: '\f0d5' !important;
			}
			.rd-google_plus label:before {
				content: '\f0d5' !important;
			}
			.rd-linkedin label:before {
				content: '\f0e1' !important;
			}
			.rd-linked_in label:before {
				content: '\f0e1' !important;
			}
			.rd-disable {
				label {
					border: 2px dashed #BEBEBE;
				}
			}
		}
	}
}



.select_company_carousel {
	label:before {
		display: none !important;
	}
}

.select_company {
	li {
		label:before {
			display: none !important;
		}
	}
}


#report_card {
	.logo {
		padding-right: 15px;
		padding-left: 15px;
		img {
			max-height: 30px;
			width: auto;
		}
	}
}

.full_report {
	.logo {
		.clearfix;
		text-align: left;
		img {
			max-width: 200px;
			max-height: 100px;
			display: inline-block;
		}
		h1 {
			display: inline-block;
			vertical-align: bottom;
			font-size: 56px;
			margin-right: 20px;
			&.twitter {
				color: @twitter !important;
				&:before {
					display: inline-block;
					font-family: FontAwesome;
					font-style: normal;
					font-weight: normal;
					line-height: 1;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					content: '\f099';
					margin-right: 20px;
				}
			}
			&.facebook {
				color: @facebook !important;
				&:before {
					display: inline-block;
					font-family: FontAwesome;
					font-style: normal;
					font-weight: normal;
					line-height: 1;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					content: '\f09a';
					margin-right: 20px;
				}
			}
			&.linked_in {
				color: @linked_in !important;
				&:before {
					display: inline-block;
					font-family: FontAwesome;
					font-style: normal;
					font-weight: normal;
					line-height: 1;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					content: '\f0e1';
					margin-right: 20px;
				}
			}
			&.google_plus {
				color: @google_plus !important;
				&:before {
					display: inline-block;
					font-family: FontAwesome;
					font-style: normal;
					font-weight: normal;
					line-height: 1;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale; 
					content: '\f0d5';
					margin-right: 20px;
				}
			}
			&.slash {
				color: @Gray;
			}
		}
		span {
			display: inline-block;
			vertical-align: bottom;
			font-size: 56px;
		}
		h2 {
			display: inline-block;
			vertical-align: bottom;
			font-size: 56px;
		}
			
	}
		
	.col-left {

	}
	.col-right {
		border-left: dotted 1px black;
	}
}

.info_row {
	padding: 0;
	margin: 0;
	li {
		padding: 0;
		margin: 0;
		list-style-type: none;
		div {
			padding-top: 20px ;
			padding-bottom: 20px;
			&:before {
				display: inline-block;
				content: '';
				border-top: 1px solid black;
				width: 100%;
			}
		}
		&:first-child {
			div:before {
				border-top: none;
			}
		}
	}


	h1 {
		color: black;
		font-size: 46px;
		img {
			width: auto;
			max-height: 50px;
		}
	}
	h2 {
		color: #007bb6;
		font-size: 100px;
		font-family: 'Oswald', sans-serif;
		font-weight: normal;
	}
	h3 {
		color: #007bb6;
		font-size: 50px;
		text-transform: uppercase;
		font-family: 'Oswald', sans-serif;
		font-weight: normal;
	}
	h4 {
		color: #007bb6;
		font-size: 24px;
		font-family: 'Oswald', sans-serif;
		font-weight: normal;
	}
	h5 {
		color: #252525;
		font-size: 12px;
		font-family: Georgia;
		text-transform: uppercase;
		font-weight: normal;
	}
	p {
		color: #979797;
		font-size: 16px;
		font-family: Georgia;
	}
	a {
		color: #0f7bd6;
		font-size: 15px;
		font-family: Georgia;
	}
}


.recent_posts {
	padding: 0;
	li {
		padding: 0;
		margin: 20px 0;
		div {
			padding-left: 0;
			padding-right: 0;
			&:before {
				border: 0;
			}
		}
		.type {
			background: url('../../img/circle.png');
			background-repeat: no-repeat;
			padding-top: 16px;
			&:before {
				display: inline-block;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				line-height: 1;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				width: 44px;
				height: 20px;
				text-align: center;
				font-size: 16px;
				color: #017cb7;
				border: 0;
			}
			&.tweet {
				&:before {
					font-family: 'icomoon';
					content: '\e600';
				}
			}
			&.retweet {
				&:before {
					content: '\f079';
				}
			}
			&.reply {
				&:before {
					content: '\f112';
				}
			}
			&.link {
				&:before {
					content: '\f0c1';
				}
			}
			&.photo {
				&:before {
					content: '\f03e';
				}
			}
			&.video {
				&:before {
					content: '\f03d';
				}
			}
			&.status {
				&:before {
					content: '\f14b';
				}
			}
			
			&.note {
				&:before {
					content: '\f15b';
				}
			}
			&.activity {
				&:before {
					font-family: 'icomoon';
					content: '\e609';
				}
			}
			&.post {
				&:before {
					content: '\f075';
				}
			}
			&.share {
				&:before {
					font-family: 'icomoon';
					content: '\e60a';
				}
			}

			&.job {
				&:before {
					font-family: 'icomoon';
					content: '\e607';
				}
			}
			&.article {
				&:before {
					font-family: 'icomoon';
					content: '\e604';
				}
			}
			&.person {
				&:before {
					font-family: 'icomoon';
					content: '\e606';
				}
			}
			&.profile {
				&:before {
					font-family: 'icomoon';
					content: '\e605';
				}
			}
			&.product {
				&:before {
					font-family: 'icomoon';
					content: '\e608';
				}
			}

			&.money {
				&:before {
					content: '\f155';
				}
			}
			&.goal {
				&:before {
					content: '\f091';
				}
			}
			&.info {
				&:before {
					content: '\f129';
				}
			}
		}
		.image {
			padding: 0;
			span {
				display: table-cell;
				width: 180px;
				height: 110px;
				vertical-align: middle;
			}
		}
		.text {
			padding: 0 !important;
			h6 {
				margin-top: 0;
				font-family: Georgia;
				font-size: 12px;
				font-size: 10px;
				font-style: italic;
				font-weight: normal;
				text-transform: capitalize;
			}
			h3 {
				font-family: "HelveticaNeueBold","HelveticaNeue-Bold","Helvetica Neue Bold","HelveticaNeue","Helvetica Neue",'TeXGyreHerosBold',"Helvetica","Tahoma","Geneva","Arial",sans-serif;
				font-size: 16px;
				font-weight: bold;
				text-transform: capitalize;
				color: #252525;
			}
			a {
				font-family: "HelveticaNeueBold","HelveticaNeue-Bold","Helvetica Neue Bold","HelveticaNeue","Helvetica Neue",'TeXGyreHerosBold',"Helvetica","Tahoma","Geneva","Arial",sans-serif;
				font-size: 16px;
				font-weight: bold;
				color: #017cb7;
			}
		}
	}
}

.load_more {
	a {
		font-weight: bold;
		font-size: 16px;
		margin-top: 40px;
	}
}



.imac-carousel {
	div {
		a {
			display: none;
			position: absolute;
			top: 35%;
			left: 50%;
			margin-left: -125px;
			z-index: 9999999;
			width: 250px;
			height: 50px;
			background: rgba(0,0,0,0.4);
			color: white;
			text-align: center;
			line-height: 50px;
			font-size: 20px;
			.border-radius(5px);
			cursor: pointer !important;
			i.fa {
				margin-right: 20px;
			}
		}
		img {
			width: 415px !important;
			height: auto !important;
			

		}
		&:hover {
			a {
				display: block;
			}
		}
	}
}


.modal-carousel {
	img {
		//width: 800px;
		//height: 500px;
		//background: red;
		//margin: 0 auto;
	}
}


.select_company_carousel {

}

.owl-carousel {
	.item {
		//height: 10rem;
		//background: #4DC7A0;
		//padding: 1rem;
		//h4 {
		//	color: #FFF;
		//	font-weight: 400;
		//	margin-top: 0rem;
		//}
	}
}

h2.numered {
	position: relative;
	margin-bottom: 20px;
	margin-top: 40px;
	span {
		width: 40px;
		height: 40px;
		text-align: center;
		.border-radius(20px);
		font-size: 20px;
		display: inline-block;
		background:  #252525;
		color: white;
		vertical-align: middle;
		box-sizing: border-box;
		padding-top: 9px;
		margin-right: 20px;
	}
}
