.report_updates {
  margin: 0;
  padding: 0;
  .cf;
  li {
    .cf;
    margin: 0;
    padding: 0;
    list-style-type: none;
    padding: 20px 0;
    border-bottom: 1px solid lightgray;
    text-align: center;
    h4 {
      
    }
    h6 {
      color: @darkGray;
    }
    i.fa {
      

    }
    .well {
      overflow-wrap: break-word;
      font-size: 18px;
      line-height: 24px;
      &.arrow {
        position: relative;
        background: none;
        border: none;
        box-shadow: none;
        i.fa {
          position: absolute;
          top: 50%;
          left: 50%;
          margin-left: -12px;
          margin-top: -10px;
        }
      }
      &.empty {
        font-size: 36px;
      }
    }
    img {
      max-width: 300px;
    }
    .color {
      width: 80%;
      height: 200px;
      margin: 0 auto;
    }
    &:last-child {
      border-bottom: none;
    }
  }
}