//buttons
.btn {
	background-image: none;
	border: none;
	padding: 8px 16px;
	&.btn-large {
		padding: 16px 16px;
	}
}

.btn-primary {
	background-color: #00A4C7;
	&:hover {
		background-color: #0094B3;
	}
}



button.btn-lg {
	padding: 16px;
	background: #00A4C7;
	color: white;
	font-size: 20px;
	text-shadow: none;
	border: none;
	border-radius: 5px;
}
.btn-lg.btn-primary {
	padding: 18px 30px;
	border-color: #00A4C7;
	box-shadow: none;
	background: #00A4C7;
	font-size: 20px;
	line-height: 28px;
}