/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before, .pagination:before, .single_company > header .company_title:before, .stat section header:before, .tab-content header:before, ul.simple:before, #people .simple.three-col .img-content:before, .report-header:before, .base_data_report section.fluid-row:before, .selection:before, .add_company_function .source_options:before, .pricing:before, .pricing .plan:before, .details:before, .top-main:before, .product_tour .sources ul:before,
.cf:after,
.pagination:after,
.single_company > header .company_title:after,
.stat section header:after,
.tab-content header:after,
ul.simple:after,
#people .simple.three-col .img-content:after,
.report-header:after,
.base_data_report section.fluid-row:after,
.selection:after,
.add_company_function .source_options:after,
.pricing:after,
.pricing .plan:after,
.details:after,
.top-main:after,
.product_tour .sources ul:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after, .pagination:after, .single_company > header .company_title:after, .stat section header:after, .tab-content header:after, ul.simple:after, #people .simple.three-col .img-content:after, .report-header:after, .base_data_report section.fluid-row:after, .selection:after, .add_company_function .source_options:after, .pricing:after, .pricing .plan:after, .details:after, .top-main:after, .product_tour .sources ul:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf, .pagination, .single_company > header .company_title, .stat section header, .tab-content header, ul.simple, #people .simple.three-col .img-content, .report-header, .base_data_report section.fluid-row, .selection, .add_company_function .source_options, .pricing, .pricing .plan, .details, .top-main, .product_tour .sources ul, .plans .pricing {
    *zoom: 1;
}



.img-content {
	.img {
		float: left;
	}
	.content {
		float: left;
	}
}