.flow {
	padding-top: 80px;
}




/* searching dots */
body {
	.dot-one {
	    opacity: 0;
	    -webkit-animation: dot 1.3s infinite;
	    -webkit-animation-delay: 0.0s;
	    animation: dot 1.3s infinite;
	    animation-delay: 0.0s;
	}

	.dot-two {
	    opacity: 0;
	    -webkit-animation: dot 1.3s infinite;
	    -webkit-animation-delay: 0.2s;
	      animation: dot 1.3s infinite;
	      animation-delay: 0.2s;
	}

	.dot-three {
	    opacity: 0;
	    -webkit-animation: dot 1.3s infinite;
	    -webkit-animation-delay: 0.3s;
	     animation: dot 1.3s infinite;
	     animation-delay: 0.3s;
	}

	@-webkit-keyframes dot {
	      0% { opacity: 0; }
	     50% { opacity: 0; }
	    100% { opacity: 1; }
	}

	@keyframes dot {
	      0% { opacity: 0; }
	     50% { opacity: 0; }
	    100% { opacity: 1; }
	}
}
	
/* /searching dots */


/* Social Info */
.social-info {
	text-align: left;
	margin: 0;
	padding: 0;
	color: #999999;
	li {
		margin: 0;
		padding: 0;
		list-style-type: none;
		font-size: 12px;
		&:before {
			font-family: FontAwesome;
			display: inline-block;
			float: left;
			margin-right: 5px;
			width: 10px;
			text-align: center;
		}
		&.website {
			&:before {
				content: '\f0ac';
			}
		}
		&.location {
			&:before {
				content: '\f041';	
			}
		}
		a {
			color: #999;
		}
	}
}
/* /Social Info */


/* Add Competitor */
.add_competitor {
	padding: 20px 0;
	text-align: center;
	label {
		font-weight: bold;
		font-size: 18px;
		margin-bottom: 15px;
		display: inline-block;
		margin-right: 20px;
	}
}
.search_competitor {
	display: inline-block;
	input {
		background-color: white;
		border: 1px solid #E4E8ED;
		-webkit-border-radius: 7px;
		-moz-border-radius: 7px;
		-ms-border-radius: 7px;
		-o-border-radius: 7px;
		border-radius: 7px;
		padding: 8px 10px 10px 10px;
		box-sizing: border-box;
		font-size: 16px;
		font-weight: bold;
		padding: 10px;
		text-align: center;
		&:focus, &:active {
			outline: none;
		}
	}
	button {
		width: 100px;
		vertical-align: inherit;
		height: 36px !important;
		background: #1C2A3A !important;
		margin-top: 20px;
		&:before {
			height: 30px !important;
		}
	}
}
.glow {
  border-color: #ccc;
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  -webkit-box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
}
/* /Add Competitor */


/* Lighboxes */

.modal-dialog {
	max-width: 940px;
	width: 80%;
	.search_company_results  {
		margin-top: 20px;
		input.text {
			width: 84% !important;
		}
	}
	.source_options {
		label.radio {
			width: 120px;
			padding-left: 0;
		}
		div.radio {
			float: left;
			padding-top: 0px;
		}
	}
	.results {
		
		.clearfix;

		ul.list {
			.clearfix;
			height: 500px;
			overflow-y: scroll;
			margin-bottom: 30px;
			li {
				border: 1px solid #E4E8ED;
				.border-radius(5px);
			}
		}
		ul.pagination {
			display: table;
		}
	}
}

/* */