// Forms

input[type="text"], button, textarea {
	height: inherit !important;
}


//Select

.special-select select {
    padding:15px;
    margin: 0;
    .border-radius(5px);
    background: #F2F4F9;
	border: 1px solid #E4E8ED;
    color:#888;
    font-size: 18px;
    font-weight: bold;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .special-select select {padding-right:18px}
}

label.special-select {
	position:relative;
	margin: 0;
}
label.special-select:after {
    content:'>';
    font:18px "Consolas", monospace;
    font-weight: bold;
    color:#aaa;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:20px; top:17px;
    padding:0 0 2px;
    position:absolute;
    pointer-events:none;
}
label.special-select:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    visibility: hidden;
    position:absolute;
    pointer-events:none;
    display:block;
}