// Header
header.top {
	background: white;
	padding: 13px 0;
	.shadow(0 2px 2px rgba(0,0,0,.05));
}
header.top ul {
	margin: 0px 0 20px 0;
	float: right;
	li {
		display: inline;
		margin-left: 20px;
		a {
			display: inline-block;
			color: 	#B9BFC9;
			font-weight: 700;
			font-size: 16px;
			&:hover {
				color: #F16739;
				.icon-companies {
					background: url('../img/icons/companies_hover.png') no-repeat;	
				}
				.icon-settings {
					background: url('../img/icons/settings_hover.png') no-repeat;
				}
				.icon-new {
					background: url('../img/icons/new_hover.png') no-repeat;
				}
			}
		}
		@media only screen and (max-width : 1199px) {
			margin-left: 0;
		}
		@media only screen and (max-width : 992px) {
			width: 200px !important;
		}
	}
	li.active {
		a {
			color: 	#F16739;
			.icon-companies {
				background: url('../img/icons/companies_hover.png') no-repeat;	
			}
			.icon-settings {
				background: url('../img/icons/settings_hover.png') no-repeat;
			}
			.icon-new {
				background: url('../img/icons/new_hover.png') no-repeat;
			}
		}
	}
}