/* FontAwesome Icons */
@import '//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.css';
i.fa {
	margin: 0 5px;
}



/* Icons based on images */

.down {
	font-weight: bold;
	color: #FF2626;
	background: url('../img/icons/down.png') no-repeat left;
}
.up {
	font-weight: bold;
	color: #36D900;
	background: url('../img/icons/up.png') no-repeat left;
}
.down.little {
	font-weight: bold;
	color: #FF2626;
	background: url('../img/icons/down_little.png') no-repeat left;
}
.up.little {
	font-weight: bold;
	color: #36D900;
	background: url('../img/icons/up_little.png') no-repeat left;
}

//Icons 
[class*=".icon-"] {

}
.icon-gears {
	display: block; 
	float: left;
	width: 18px;
	height: 18px;
	background: url('../img/icons/gears.png') no-repeat;
	margin-right: 10px;
	margin-top:2px;
	&:hover {
		background: url('../img/icons/gears_hover.png') no-repeat;
	}
}
//todo: move to a general class [class*=".icon-"]
.icon-download {
	display: block; 
	float: left;
	width: 24px;
	height: 22px;
	margin-right: 10px;
	margin-top:2px;
	background: url('../img/icons/download.png') no-repeat;
	&:hover {
		background: url('../img/icons/download_orange.png') no-repeat;
	}
}

.icon-print {
	display: block; 
	float: left;
	width: 24px;
	height: 24px;
	margin-right: 10px;
	margin-top:2px;
	background: url('../img/icons/print.png') no-repeat;
	&:hover {
		background: url('../img/icons/print_orange.png') no-repeat;
	}
}


.icon-email {
	display: block; 
	float: left;
	width: 21px;
	height: 24px;
	margin-right: 10px;
	margin-top:2px;
	background: url('../img/icons/email.png') no-repeat;
	&:hover {
		background: url('../img/icons/email_orange.png') no-repeat;
	}
}



.icon-companies {
	display: block; 
	float: left;
	width: 18px;
	height: 18px;
	margin-right: 10px;
	margin-top:2px;
	background: url('../img/icons/companies.png') no-repeat;
	&:hover {
		background: url('../img/icons/companies_hover.png') no-repeat;
	}
}
.icon-settings {
	display: block; 
	float: left;
	width: 18px;
	height: 18px;
	background: url('../img/icons/settings.png') no-repeat;
	margin-right: 10px;
	margin-top:2px;
	&:hover {
		background: url('../img/icons/settings_hover.png') no-repeat;
	}
}
.icon-new {
	display: block; 
	float: left;
	width: 18px;
	height: 18px;
	background: url('../img/icons/new.png') no-repeat;
	margin-right: 10px;
	margin-top:2px;
	&:hover {
		background: url('../img/icons/new_hover.png') no-repeat;
	}
}
.icon-search {
	display: block; 
	float: left;
	width: 18px;
	height: 18px;
	background: url('../img/icons/search.png') no-repeat;
	margin-right: 10px;
}
.icon-return {
	display: block; 
	float: left;
	width: 21px;
	height: 18px;
	background: url('../img/icons/back.png') no-repeat;
	margin-right: 10px;	
}
.icon-track {
	display: block; 
	float: left;
	width: 24px;
	height: 25px;
	background: url('../img/icons/track.png') no-repeat;
	margin-right: 15px;	
}
.icon-likes {
	display: block; 
	float: left;
	width: 24px;
	height: 22px;
	background: url('../img/icons/likes_report.png') no-repeat;
	margin-right: 15px;	
}
.icon-comments {
	display: block; 
	float: left;
	width: 24px;
	height: 24px;
	background: url('../img/icons/comments_report.png') no-repeat;
	margin-right: 15px;	
}
.icon-followers {
	display: block; 
	float: left;
	width: 24px;
	height: 24px;
	background: url('../img/icons/followers_report.png') no-repeat;
	margin-right: 15px;	
}
.icon-favs {
	display: block; 
	float: left;
	width: 24px;
	height: 23px;
	background: url('../img/icons/favs_report.png') no-repeat;
	margin-right: 15px;	
}
.icon-tweets {
	display: block; 
	float: left;
	width: 24px;
	height: 22px;
	background: url('../img/icons/tweets_report.png') no-repeat;
	margin-right: 15px;	
}
.icon-plus  {
	display: block; 
	float: left;
	width: 24px;
	height: 24px;
	background: url('../img/icons/plus_report.png') no-repeat;
	margin-right: 15px;	
}
.icon-stop  {
	display: block; 
	float: left;
	width: 24px;
	height: 24px;
	background: url('../img/icons/stop.png') no-repeat;
	margin-right: 12px;
	margin-top: 9px;
	&:hover {
		background: url('../img/icons/stop_hover.png') no-repeat;
	}
}
.icon-remove  {
	display: block; 
	float: left;
	width: 8px;
	height: 8px;
	background: url('../img/icons/remove.png') no-repeat;
	margin-right: 8px;
	//margin-top: 9px;
	&:hover {
		background: url('../img/icons/remove_hover.png') no-repeat;
	}
}
.icon-add  {
	display: block; 
	float: left;
	width: 12px;
	height: 12px;
	background: url('../img/icons/add.png') no-repeat;
	margin-right: 8px;
	&:hover {
		background: url('../img/icons/add_hover.png') no-repeat;
	}
}


// TaC icons
@font-face {
	font-family: 'icomoon';
	src:url('assets/tac-fonts/icomoon.eot?-vkorpw');
	src:url('assets/tac-fonts/icomoon.eot?#iefix-vkorpw') format('embedded-opentype'),
		url('assets/tac-fonts/icomoon.woff?-vkorpw') format('woff'),
		url('assets/tac-fonts/icomoon.ttf?-vkorpw') format('truetype'),
		url('assets/tac-fonts/icomoon.svg?-vkorpw#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.tc {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.tc-mentions:before {
	content: "\e600";
}
.tc-glassdoor:before {
	content: "\e601";
}
.tc-crunchbase:before {
	content: "\e602";
}

.tc-twitter:before {
	font-family: FontAwesome;
	content: '\f099';
}
.tc-facebook:before {
	font-family: FontAwesome;
	content: "\f09a";
}
.tc-linkedin:before {
	font-family: FontAwesome;
	content: "\f0e1";
}

.tc-linked_in:before {
	font-family: FontAwesome;
	content: "\f0e1";
}
.tc-googleplus:before {
	font-family: FontAwesome;
	content: "\f0d5";
}
.tc-google_plus:before {
	font-family: FontAwesome;
	content: "\f0d5";
}
.tc-googleplus:before {
	font-family: FontAwesome;
	content: "\f0d5";

}