/* Checkboxes */
.ck {
	color: #BEBEBE;
	display: inline-block;
	label {
		cursor: pointer;
		font-size: 18px;
		vertical-align: top;
		margin-bottom: 0;
		font-weight: normal;
		color: @Gray;
	}
	input[type="checkbox"] {
		display: none;
	}
	input[type="checkbox"] + label {
		&:before {
			font-family: FontAwesome;
			content: "\f096";
			display: inline-block;
			font-style: normal;
			font-weight: normal;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			width: 20px;
			height: 20px;
			text-align: left;
			font-size: 24px;
			margin-right: 5px;
		}
	}
	input[type="checkbox"]:checked + label {
		&:before {
			content: "\f046";
		}
	}

	&.ck-facebook {
		input[type="checkbox"]:checked + label {
			color: @facebook;
		}
	}
	&.ck-twitter {
		input[type="checkbox"]:checked + label {
			color: @twitter;
		}
	}
	&.ck-linkedin {
		input[type="checkbox"]:checked + label {
			color: @linkedin;
		}
	}
	&.ck-linked_in {
		input[type="checkbox"]:checked + label {
			color: @linked_in;
		}
	}
	&.ck-googleplus {
		input[type="checkbox"]:checked + label {
			color: @google;
		}
	}
	&.ck-google_plus {
		input[type="checkbox"]:checked + label {
			color: @google_plus;
		}
	}
	&.ck-instagram {
		input[type="checkbox"]:checked + label {
			color: @instagram;
		}
	}
	&.ck-crunchbase {
		input[type="checkbox"]:checked + label {
			color: @crunchbase;
		}
	}
	&.ck-rss {
		input[type="checkbox"]:checked + label {
			color: @rss;
		}
	}
	&.ck-pinterest {
		input[type="checkbox"]:checked + label {
			color: @pinterest;
		}
	}
	&.ck-glassdoor {
		input[type="checkbox"]:checked + label {
			color: @glassdoor;
		}
	}
	&.ck-mentions {
		input[type="checkbox"]:checked + label {
			color: @mentions;
		}
	}
	&.ck-webalerts {
		input[type="checkbox"]:checked + label {
			color: @webalerts;
		}
	}

	&.ck-indeed {
		input[type="checkbox"]:checked + label {
			color: @indeed;
		}
	}
	&.ck-sec_alerts {
		input[type="checkbox"]:checked + label {
			color: @sec_alerts;
		}
	}
	&.ck-angel_list {
		input[type="checkbox"]:checked + label {
			color: @angel_list;
		}
	}
	&.ck-github {
		input[type="checkbox"]:checked + label {
			color: @github;
		}
	}
	&.ck-bitbucket {
		input[type="checkbox"]:checked + label {
			color: @bitbucket;
		}
	}
	&.ck-wikipedia {
		input[type="checkbox"]:checked + label {
			color: @wikipedia;
		}
	}
	&.ck-youtube {
		input[type="checkbox"]:checked + label {
			color: @youtube;
		}
	}
	&.ck-patents {
		input[type="checkbox"]:checked + label {
			color: @patents;
		}
	}
	&.ck-yelp {
		input[type="checkbox"]:checked + label {
			color: @yelp;
		}
	}
	&.ck-dns {
		input[type="checkbox"]:checked + label {
			color: @dns;
		}
	}
	&.ck-alexa {
		input[type="checkbox"]:checked + label {
			color: @alexa;
		}
	}
	&.ck-custom_data {
		input[type="checkbox"]:checked + label {
			color: @custom_data;
		}
	}
	&.ck-screenshot {
		input[type="checkbox"]:checked + label {
			color: @screenshot;
		}
	}

	/*
	&.ck-newsourcehere {
		input[type="checkbox"]:checked + label {
			color: @newsourcehere;
		}
	}
	*/
}
/* /Checkboxes */
/* Radios */
.rd {
	color: #BEBEBE;
	display: inline-block;
	label {
		cursor: pointer;
		font-size: 18px;
		vertical-align: top;
		margin-bottom: 0;
		font-weight: normal;
	}
	input[type="radio"] {
		display: none;
	}
	input[type="radio"] + label {
		&:before {
			font-family: FontAwesome;
			content: "\f10c";
			display: block;
			font-style: normal;
			font-weight: normal;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			width: 20px;
			height: 20px;
			text-align: left;
			font-size: 24px;
			margin-left: auto;
			margin-right: auto;
		}
	}
	&.rd-disable {
		input[type="radio"] + label {
			color: @Gray !important;
			border-color: @Gray !important;
			cursor: not-allowed;
		}
		input[type="radio"]:checked + label {
			content: "\f10c" !important;
		}
	}
	input[type="radio"]:checked + label {
		&:before {
			content: "\f192";
		}
	}
	&.rd-facebook {
		input[type="radio"]:checked + label {
			color: @facebook;
			border-color:  @facebook;
		}
	}
	&.rd-twitter {
		input[type="radio"]:checked + label {
			color: @twitter;
			border-color: @twitter;
		}
	}
	&.rd-linkedin {
		input[type="radio"]:checked + label {
			color: @linkedin;
			border-color: @linkedin;
		}
	}
	&.rd-linked_in {
		input[type="radio"]:checked + label {
			color: @linked_in;
			border-color: @linked_in;
		}
	}
	&.rd-google_plus {
		input[type="radio"]:checked + label {
			color: @google_plus;
			border-color: @google_plus;
		}
	}
	&.rd-google {
		input[type="radio"]:checked + label {
			color: @google;
			border-color: @google;
		}
	}
	&.rd-instagram {
		input[type="radio"]:checked + label {
			color: @instagram;
			border-color: @instagram;
		}
	}
	&.rd-crunchbase {
		input[type="radio"]:checked + label {
			color: @crunchbase;
			border-color: @crunchbase;
		}
	}
	&.rd-rss {
		input[type="radio"]:checked + label {
			color: @rss;
			border-color: @rss;
		}
	}
	&.rd-pinterest {
		input[type="radio"]:checked + label {
			color: @pinterest;
			border-color: @pinterest;
		}
	}
	&.rd-glassdoor {
		input[type="radio"]:checked + label {
			color: @glassdoor;
			border-color: @glassdoor;
		}
	}
	&.rd-mentions {
		input[type="radio"]:checked + label {
			color: @mentions;
			border-color: @mentions;
		}
	}
	&.rd-webalerts {
		input[type="radio"]:checked + label {
			color: @webalerts;
			border-color: @webalerts;
		}
	}
	&.rd-company {
		input[type="radio"]:checked + label {
			color: @darkBlue;
			border-color: @darkBlue;
		}
	}

	&.rd-indeed {
		input[type="radio"]:checked + label {
			color: @indeed;
			border-color: @indeed;
		}
	}
	&.rd-sec_alerts {
		input[type="radio"]:checked + label {
			color: @sec_alerts;
			border-color: @sec_alerts;
		}
	}
	&.rd-angel_list {
		input[type="radio"]:checked + label {
			color: @angel_list;
			border-color: @angel_list;
		}
	}
	&.rd-github {
		input[type="radio"]:checked + label {
			color: @github;
			border-color: @github;
		}
	}
	&.rd-bitbucket {
		input[type="radio"]:checked + label {
			color: @bitbucket;
			border-color: @bitbucket;
		}
	}
	&.rd-wikipedia {
		input[type="radio"]:checked + label {
			color: @wikipedia;
			border-color: @wikipedia;
		}
	}
	&.rd-youtube {
		input[type="radio"]:checked + label {
			color: @youtube;
			border-color: @youtube;
		}
	}
	&.rd-patents {
		input[type="radio"]:checked + label {
			color: @patents;
			border-color: @patents;
		}
	}
	&.rd-yelp {
		input[type="radio"]:checked + label {
			color: @yelp;
			border-color: @yelp;
		}
	}
	&.rd-dns {
		input[type="radio"]:checked + label {
			color: @dns;
			border-color: @dns;
		}
	}
	&.rd-alexa {
		input[type="radio"]:checked + label {
			color: @alexa;
			border-color: @alexa;
		}
	}
	&.rd-custom_data {
		input[type="radio"]:checked + label {
			color: @custom_data;
			border-color: @custom_data;
		}
	}
	&.rd-screenshot {
		input[type="radio"]:checked + label {
			color: @screenshot;
			border-color: @screenshot;
		}
	}

	/*
	&.rd-newsourcehere {
		input[type="radio"]:checked + label {
			color: @newsourcecolorhere;
			border-color: @newsourcecolorhere;
		}
	}
	*/
}
/* /Radios */

/* Layout */ 
.layout {
	background: white;
	box-sizing: border-box;
	border: 1px solid #E7E9EC;
	margin-bottom: 20px;
	.border-radius;
	.clearfix;
	.company {
		width: 238px;
		float: left;
		display: inline-block;
		float: left;
		box-sizing: border-box;
		text-align: center;
		p {
			margin: 0;
			font-size: 13px;
			font-weight: bold;				
			color: #1A2A39;
		}
		@media (max-width:767px) {
			width: 198px;
			
		}
		@media (min-width: 320px) and (max-width:479px) {
			width: 300px;
		}
	}
	.sources_holder {
		display: inline-block;
		float: left;
		width: 899px;
		overflow: hidden;
		@media (min-width:992px) and (max-width:1200px) {
			width: 673px;
		}
		@media (min-width:768px) and (max-width:991px) {
			width: 450px;
		}
		@media (min-width: 480px) and (max-width:767px) {
			width: 260px;
		}
		@media (min-width: 320px) and (max-width:479px) {
			width: 298px;
		}
	}
	.holder {
		// width: 900px; // 4 sources
		// width: 1125px; // 5 sources
		// width: 1350px; // 6 sources
		// width: 1575px; // 7 sources
		// width: 1800px; // 8 sources
		//width: 2025px; // 9 sources
		width: 5000px; // no limit
		.clearfix;
		.source {
			width: 225px;
			float: left;
			display: inline-block;
			box-sizing: border-box;
			text-align: center;
			border-left: 1px solid #E7E9EC;
			@media (min-width: 320px) and (max-width:479px) {
				width: 300px;
			}
			@media (min-width: 480px) and (max-width:767px) {
				width: 260px;
			}
		}
	}
	&.top-row {
		position: relative;
		a.badge {
			color: @darkBlue;
		}

		.prevowl, .nextowl {
			position: absolute;
			top: 22px;
			z-index: 999;
			opacity: .2;
		}
		&:hover {
			.prevowl, .nextowl {
		    	opacity: 1;
		    }
		}
		.prevowl {
			left: 210px;
		}
		.nextowl {
			right: -18px;
		}
		@media (max-width: 768px) {
			.prevowl {
				left: 199px;
			}
			.nextowl {
				right: 0;
			}
		}
		@media (max-width: 480px) {
			.prevowl {
				left: -10px;
			}
			.nextowl {
				right: -10px;
			}
		}
		.company {
			p {
				margin-top: 20px;
			}
		
		}
		.sources_holder {
			overflow: hidden;
			-webkit-overflow-scrolling: touch;
		}
		.holder {
			.source {
				padding: 10px;
				.source-control {
					text-align: left;
					h3 {
						display: inline-block;
						text-align: left;
						&:before {
							font-family: FontAwesome;
							display: inline-block;
							margin-right: 5px;
						}
					}
					ul.actions {
						float: right;
						display: inline-block;
						margin-bottom: 0;
						opacity: 0;
						li {
							list-style-type: none;
							text-align: right;
							a {
								color: #BBC2CA;
								&:hover {
									color: @Blue;
								}
								&:after {
									font-family: FontAwesome;
									display: inline-block;
								}
								&.edit {
									&:after {
										content: '\f08e';
									}
								}
								&.remove {
									&:after {
										content: '\f00d';
									}
								}
							}
						}
					}
					&.facebook {
						h3 {
							color: @facebook;
							&:before {
								content: @i-facebook;
							}
						}
					}
					&.twitter {
						h3 {
							color: @twitter;
							&:before {
								content: @i-twitter;
							}
						}
					}
					&.linkedin {
						h3 {
							color: @linkedin;
							&:before {
								content: @i-linkedin;
							}
						}
					}
					&.linked_in {
						h3 {
							color: @linked_in;
							&:before {
								content: @i-linked_in;
							}
						}
					}
					&.google_plus {
						h3 {
							color: @google_plus;
							&:before {
								content: @i-google_plus;
							}
						}
					}

					&.instagram {
						h3 {
							color: @instagram;
							&:before {
								content: @i-instagram;
							}
						}
					}
					&.crunchbase {
						h3 {
							color: @crunchbase;
							&:before {
								font-family: 'icomoon';
								content: @i-crunchbase;
							}
						}
					}
					&.rss {
						h3 {
							color: @rss;
							&:before {
								content: @i-rss;
							}
						}
					}
					&.pinterest {
						h3 {
							color: @pinterest;
							&:before {
								content: @i-pinterest;
							}
						}
					}
					&.glassdoor {
						h3 {
							color: @glassdoor;
							&:before {
								font-family: 'icomoon';
								content: @i-glassdoor;
							}
						}
					}
					&.mentions {
						h3 {
							color: @mentions;
							&:before {
								font-family: 'icomoon';
								content: @i-mentions;
							}
						}
					}
					&.webalerts {
						h3 {
							color: @webalerts;
							&:before {
								content: @i-webalerts;
							}
						}
					}

					&.indeed {
						h3 {
							color: @indeed;
							&:before {
								font-family: 'icomoon';
								content: @i-indeed;
							}
						}
					}
					&.sec_alerts {
						h3 {
							color: @sec_alerts;
							&:before {
								content: @i-sec_alerts;
							}
						}
					}
					&.angel_list {
						h3 {
							color: @angel_list;
							&:before {
								content: @i-angel_list;
							}
						}
					}
					&.github {
						h3 {
							color: @github;
							&:before {
								content: @i-github;
							}
						}
					}
					&.bitbucket {
						h3 {
							color: @bitbucket;
							&:before {
								content: @i-bitbucket;
							}
						}
					}
					&.wikipedia {
						h3 {
							color: @wikipedia;
							&:before {
								font-family: 'icomoon';
								content: @i-wikipedia;
							}
						}
					}
					&.youtube {
						h3 {
							color: @youtube;
							&:before {
								content: @i-youtube;
							}
						}
					}
					&.patents {
						h3 {
							color: @patents;
							&:before {
								font-family: 'icomoon';
								content: @i-patents;
							}
						}
					}
					&.yelp {
						h3 {
							color: @yelp;
							&:before {
								content: @i-yelp;
							}
						}
					}
					&.dns {
						h3 {
							color: @dns;
							&:before {
								font-family: 'icomoon';
          						content: @i-dns;
							}
						}
					}
					&.alexa {
						h3 {
							color: @alexa;
							&:before {
								font-family: 'icomoon';
								content: @i-alexa;
							}
						}
					}
					&.custom_data {
						h3 {
							color: @custom_data;
							&:before {
								content: @i-custom_data;
							}
						}
					}
					&.screenshot {
						h3 {
							color: @screenshot;
							&:before {
								font-family: 'icomoon';
								content: @i-screenshot;
							}
						}
					}
					/*
					&.newsourcehere {
						h3 {
							color: @newsourcecolorhere;
							&:before {
								content: @i-newsourceiconhere;
							}
						}
					}
					*/
					&:hover {
						ul.actions {
							opacity: 1;
						}
					}
				}
			}
		}
	}
	&.low-row {
		.sources_holder {
			
			overflow: hidden;
			@media (min-width:768px) and (max-width:991px) {
				overflow: auto;
				-webkit-overflow-scrolling: touch;
			}
			.border-radius(0 5px 0 0);
		}
		.company {
			height: 285px;
			padding: 40px 0;
			&:before {
				content: '';
				display: inline-block;
				width: 72px;
				height: 90px;
				float: left;
				@media (min-width: 320px) and (max-width:479px) {
					width: 101px;
				}
				@media (min-width: 480px) and (max-width:767px) {
					width: 53px;
				}
			}
			.img {
				border: 1px solid #E7E9EC;
				height: 92px;
				width: 92px;
				margin: 0 auto;
				display: table-cell;
				vertical-align: middle;
				img {
					max-width: 90px;
					max-height: 90px;
				}
			}
			p {
				margin-top: 50px;
				font-size: 12px;
				a {
					color: #999999;
					display: block;
				}
			}
		}
		.holder {
			div[class^='source-'],div[class*='source-'] {
				.top {
					&:before {
						display: inline-block;
						width: 20px;
						height: 20px;						
						float: left;
						font-family: FontAwesome;
						color: white;
						font-size: 18px;
					}
				}
			}
			.source {
				height: 285px;
				
				.top {
					margin: 0;
					background-color: #DDDDDD;
					padding: 10px;
					text-align: left;
					.clearfix;
					p {
						margin: 0;
						color: white;
						float: left;
					}
					a {
						&:before {
							content: '\f08e';
							font-family: FontAwesome;
							display: inline-block;
							float: right;
							color: white;
							opacity: .5;
						}
						&:hover {
							&:before {
								opacity: 1;
							}
						}
					}
				}
				.social-profile {
					padding: 10px;
					position: relative;
					height: 204px;
					.img {
						border: 1px solid #E7E9EC;
						height: 60px;
						width: 60px;
						display: table-cell;
						vertical-align: middle;
						img {
							max-width: 58px;
							max-height: 58px;
						}
					}
					h4 {
						display: inline-block;
						position: absolute;
						top: 35px;
						left: 80px;
						width: 130px;
						text-align: left;
						margin: 0;
					}
					p {
						margin-top: 10px;
						color: #999999;
						text-align: left;
					}
				}
				.footer {
					border-top: 1px solid #E7E9EC;
					padding: 10px 0;
					a {
						color: #999;
						font-size: 12px;
					}
				}
				&.searching {
					.social-profile {
						margin-top: 60px;
						color: #999999;
						height: 144px;
						.fa {
							display: block;
							font-size: 24px;
						}
					}
					.footer a {
						color: #DDDDDD;
					}
				}
				&.not-found {
					.social-profile {
						color: #BBC2CA;
						margin-top: 40px;
						&:before {
							content: '\f05e';
							font-family: FontAwesome;
							display: inline-block;
							font-size: 56px;
							margin-bottom: 20px;
						}
						h5 {
							font-size: 18px;
						}
						a {
							margin-top: 10px;
						}
					}
					.footer {
						display: none;
					}
				}
				&.source-facebook {
					.top {
						background-color: @facebook;
						&:before {
							content: @i-facebook;
						}
					}
				}
				&.source-twitter {
					.top {
						background-color: @twitter;
						&:before {
							content: @i-twitter;
						}
					}
				}
				&.source-linkedin {
					.top {
						background-color: @linkedin;
						&:before {
							content: @i-linkedin;
							margin-top: -1px;
						}
					}
				}
				&.source-linked_in {
					.top {
						background-color: @linked_in;
						&:before {
							content: @i-linked_in;
							margin-top: -1px;
						}
					}
				}
				&.source-googleplus {
					.top {
						background-color: @google;
						&:before {
							content: @i-google;
						}
					}
				}
				&.source-google_plus {
					.top {
						background-color: @google_plus;
						&:before {
							content: @i-google_plus;
						}
					}
				}
				&.source-instagram {
					.top {
						background-color: @instagram;
						p {
							margin-left: 5px;
						}
						&:before {
							content: @i-instagram;
							font-size: 12px;
						}
					}
				}
				&.source-crunchbase {
					.top {
						background-color: @crunchbase;
						p {
							margin-left: 5px;
						}
						&:before {
							font-family: 'icomoon';
							content: @i-crunchbase;
							font-size: 12px;
						}
					}
				}
				&.source-rss {
					.top {
						background-color: @rss;
						&:before {
							content: @i-rss;
						}
					}
				}
				&.source-pinterest {
					.top {
						background-color: @pinterest;
						&:before {
							content: @i-pinterest;
						}
					}
				}
				&.source-glassdoor {
					.top {
						background-color: @glassdoor;
						&:before {
							font-family: 'icomoon';
							content: @i-glassdoor;
							font-size: 12px;
						}
					}
				}
				&.source-mentions {
					.top {
						background-color: @mentions;
						p {
							margin-left: 5px;
						}
						&:before {
							font-family: 'icomoon';
							content: @i-mentions;
							font-size: 12px;
						}
					}
				}
				&.source-webalerts {
					.top {
						background-color: @webalerts;
						p {
							margin-left: 5px;
						}
						&:before {
							content: @i-webalerts;
							font-size: 12px;
						}
					}
					.social-profile {
						p {
							text-align: center;
						}
					}
				}

				&.source-indeed {
					.top {
						background-color: @indeed;
						&:before {
							font-family: 'icomoon';
							content: @i-indeed;
						}
					}
				}
				&.source-sec_alerts {
					.top {
						background-color: @sec_alerts;
						p {
							margin-left: 5px;
						}
						&:before {
							content: @i-sec_alerts;
						}
					}
				}
				&.source-angel_list {
					.top {
						background-color: @angel_list;
						&:before {
							content: @i-angel_list;
						}
					}
				}
				&.source-github {
					.top {
						background-color: @github;
						&:before {
							content: @i-github;
						}
					}
				}
				&.source-bitbucket {
					.top {
						background-color: @bitbucket;
						&:before {
							content: @i-bitbucket;
						}
					}
				}
				&.source-wikipedia {
					.top {
						background-color: @wikipedia;
						p {
							margin-left: 5px;
						}
						&:before {
							font-family: 'icomoon';
							content: @i-wikipedia;
						}
					}
				}
				&.source-youtube {
					.top {
						background-color: @youtube;
						p {
							margin-left: 5px;
						}
						&:before {
							content: @i-youtube;
						}
					}
				}
				&.source-patents {
					.top {
						background-color: @patents;
						&:before {
							font-family: 'icomoon';
							content: @i-patents;
						}
					}
				}
				&.source-yelp {
					.top {
						background-color: @yelp;
						&:before {
							content: @i-yelp;
						}
					}
				}
				&.source-dns {
					.top {
						background-color: @dns;
						p {
							margin-left: 5px;
						}
						&:before {
							font-family: 'icomoon';
          					content: @i-dns;
						}
					}
				}
				&.source-alexa {
					.top {
						background-color: @alexa;
						&:before {
							font-family: 'icomoon';
							content: @i-alexa;
						}
					}
				}
				&.source-custom_data {
					.top {
						background-color: @custom_data;
						p {
							margin-left: 5px;
						}
						&:before {
							content: @i-custom_data;
						}
					}
				}
				&.source-screenshot {
					.top {
						background-color: @screenshot;
						p {
							margin-left: 5px;
						}
						&:before {
							font-family: 'icomoon';
							content: @i-screenshot;
						}
					}
				}
				/*
				&.source-newsourcehere {
					.top {
						background-color: @newsourcecolorhere;
						&:before {
							content: @i-newsourceiconhere;
						}
					}
				}
				*/
				&.source-disable {
					.top {
						background-color: #DDDDDD;
						height: 40px;
						&:after {
							content: '';
							height: 17px;
							width: 88px;
							background-color: white;
							display: inline-block;
						}
						p, a{
							display: none;
						}
					}
					.social-profile {
						.img, div, p, ul, i, span, a, h5, :after, :before {
							display: none;
						}
						margin-top: 0;
						background-image: url('../../img/source-disable.jpg');
						background-repeat: no-repeat;
						background-position: 10px 10px;
						&:before {
							display: none;
						}
					}
					.footer {
						a {
							display: none;
						}
						&:after {
							content: '';
							height: 17px;
							width: 88px;
							background-color: #EFEFEF;
							display: inline-block;
						}
					}
					&.searching {
						.social-profile {
							height: 204px;
						}
					}
					&.not-found {
						.footer {
							display: block;
						}
					}
					&.source-crunchbase {
						.top {
							&:after {
								margin-left: 5px;
							}
						}
					}
					&.wa-disable {
						.social-profile {
							background-image: url('../../img/source-disable-wa.jpg');
						}
					}
				}
				&.source-facebook-disabled,
				&.source-twitter-disabled,
				&.source-linked_in-disabled,
				&.source-google_plus-disabled,
				&.source-instagram-disabled,
				&.source-crunchbase-disabled,
				&.source-rss-disabled,
				&.source-pinterest-disabled,
				&.source-glassdoor-disabled,
				&.source-mentions-disabled,

				&.source-indeed-disabled,
				&.source-sec_alerts-disabled,
				&.source-angel_list-disabled,
				&.source-github-disabled,
				&.source-bitbucket-disabled,
				&.source-wikipedia-disabled,
				&.source-youtube-disabled,
				&.source-patents-disabled,
				&.source-yelp-disabled,
				&.source-dns-disabled,
				&.source-alexa-disabled,
				&.source-custom_data-disabled,
				// &.source-newsource-disabled,
				&.source-webalerts-disabled {
					.source-disable;
				}

			}
		}
	}
}
/* /Layout */ 

.flow {
	&.number-of-sources {
		.layout {
			margin-right: auto;
			margin-left: auto;
			.prevowl, .nextowl {
				display: none;
			}
		}
		&.none {
			width: 241px;
			.layout .sources_holder {
				width: 0;
			}
		}
		&.one {
			width: 466px;
			.layout .sources_holder {
				width: 226px;
			}
		}
		&.two {
			width: 691px;
			.layout .sources_holder {
				width: 451px;
			}
		}
		&.three {
			width: 916px;
			.layout .sources_holder {
				width: 676px;
			}
		}
	}
}


.source_boxes {
	div.source_box {
		list-style-type: none;
		margin: 0 20px 30px 0;
		padding: 0;
		display: inline-block;
		float: left;
		input {
			display: none;
		}
		label {
			width: 190px;
			padding: 20px;
			.border-radius(5px);
			font-size: 18px;
			cursor: pointer;
			border: 2px solid #666;
			position: relative;
			&:before {
				font-family: FontAwesome;
				display: inline-block;
				font-size: 24px;
				margin-right: 10px;
				font-weight: normal;
			}
			&.facebook {
				color: @facebook;
				border-color: @facebook;
				&:before {
					content: @i-facebook;
				}
			}
			&.twitter {
				color: @twitter;
				border-color: @twitter;
				&:before {
					content: @i-twitter;
				}
			}
			&.linkedin {
				color: @linkedin;
				border-color: @linkedin;
				&:before {
					content: @i-linkedin;
				}
			}
			&.linked_in {
				color: @linked_in;
				border-color: @linked_in;
				&:before {
					content: @i-linked_in;
				}
			}
			&.google_plus {
				color: @google_plus;
				border-color: @google_plus;
				&:before {
					content: @i-google_plus;
				}
			}
			&.pinterest {
				color: @pinterest;
				border-color: @pinterest;
				&:before {
					content: @i-pinterest;
				}
			}
			&.instagram {
				color: @instagram;
				border-color: @instagram;
				&:before {
					content: @i-instagram;
				}
			}
			&.crunchbase {
				color: @crunchbase;
				border-color: @crunchbase;
				&:before {
					font-family: 'icomoon';
					content: @i-crunchbase;
				}
			}
			&.rss {
				color: @rss;
				border-color: @rss;
				&:before {
					content: @i-rss;
				}
			}
			&.pinterest {
				color: @pinterest;
				border-color: @pinterest;
				&:before {
					content: @i-pinterest;
				}
			}
			&.glassdoor {
				color: @glassdoor;
				border-color: @glassdoor;
				&:before {
					font-family: 'icomoon';
					content: @i-glassdoor;
				}
			}
			&.mentions {
				color: @mentions;
				border-color: @mentions;
				&:before {
					font-family: 'icomoon';
					content: @i-mentions;
				}
			}
			&.webalerts {
				color: @webalerts;
				border-color: @webalerts;
				&:before {
					content: @i-webalerts;
				}
			}

			&.indeed {
				color: @indeed;
				border-color: @indeed;
				&:before {
					content: @i-indeed;
				}
			}
			&.sec_alerts {
				color: @sec_alerts;
				border-color: @sec_alerts;
				&:before {
					content: @i-sec_alerts;
				}
			}
			&.angel_list {
				color: @angel_list;
				border-color: @angel_list;
				&:before {
					content: @i-angel_list;
				}
			}
			&.github {
				color: @github;
				border-color: @github;
				&:before {
					content: @i-github;
				}
			}
			&.bitbucket {
				color: @bitbucket;
				border-color: @bitbucket;
				&:before {
					content: @i-bitbucket;
				}
			}
			&.wikipedia {
				color: @wikipedia;
				border-color: @wikipedia;
				&:before {
					content: @i-wikipedia;
				}
			}
			&.youtube {
				color: @youtube;
				border-color: @youtube;
				&:before {
					content: @i-youtube;
				}
			}
			&.patents {
				color: @patents;
				border-color: @patents;
				&:before {
					content: @i-patents;
				}
			}
			&.yelp {
				color: @yelp;
				border-color: @yelp;
				&:before {
					content: @i-yelp;
				}
			}
			&.dns {
				color: @dns;
				border-color: @dns;
				&:before {
					font-family: 'icomoon';
          			content: @i-dns;
				}
			}
			&.alexa {
				color: @alexa;
				border-color: @alexa;
				&:before {
					content: @i-alexa;
				}
			}
			&.custom_data {
				color: @custom_data;
				border-color: @custom_data;
				&:before {
					content: @i-custom_data;
				}
			}
			&.screenshot {
				color: @screenshot;
				border-color: @screenshot;
				&:before {
					font-family: 'icomoon';
					content: @i-screenshot;
				}
			}
			/*
			&.newsourcehere {
				color: @newsourcecolorhere;
				border-color: @newsourcecolorhere;
				&:before {
					content: @i-newsourceiconhere;
				}
			}
			*/
		}
		&.active {
			input[type="checkbox"]:checked + label {
				
				&:after {
					font-family: FontAwesome;
					content: '\f00c';
					background: @Green;
					display: block;
					position: absolute;
					width: 40px;
					height: 40px;
					top: -20px;
					right: -20px;
					text-align: center;
					.border-radius(20px);
					border: 4px solid white;
					padding-top: 7px;
					font-weight: normal;
				}
				&.facebook {
					background: @facebook;
					color: white;
				}
				&.twitter {
					background: @twitter;
					color: white;
				}
				&.linkedin {
					background: @linkedin;
					color: white;
				}
				&.linked_in {
					background: @linked_in;
					color: white;
				}
				&.google_plus {
					background: @google_plus;
					color: white;
				}
				&.pinterest {
					background: @pinterest;
					color: white;
				}
				&.instagram {
					background: @instagram;
					color: white;
				}
				&.google {
					background: @google;
					color: white;
				}
				&.crunchbase {
					background: @crunchbase;
					color: white;
				}
				&.rss {
					background: @rss;
					color: white;
				}
				&.pinterest {
					background: @pinterest;
					color: white;
				}
				&.glassdoor {
					background: @glassdoor;
					color: white;
				}
				&.mentions {
					background: @mentions;
					color: white;
				}
				&.webalerts {
					background: @webalerts;
					color: white;
				}

				&.indeed {
					background: @indeed;
					color: white;
				}
				&.sec_alerts {
					background: @sec_alerts;
					color: white;
				}
				&.angel_list {
					background: @angel_list;
					color: white;
				}
				&.github {
					background: @github;
					color: white;
				}
				&.bitbucket {
					background: @bitbucket;
					color: white;
				}
				&.wikipedia {
					background: @wikipedia;
					color: white;
				}
				&.youtube {
					background: @youtube;
					color: white;
				}
				&.patents {
					background: @patents;
					color: white;
				}
				&.yelp {
					background: @yelp;
					color: white;
				}
				&.dns {
					background: @dns;
					color: white;
				}
				&.alexa {
					background: @alexa;
					color: white;
				}
				&.custom_data {
					background: @custom_data;
					color: white;
				}
				&.screenshot {
					background: @screenshot;
					color: white;
				}
				/*
				&.newsourcehere {
					background: @newsourcecolorhere;
					color: white;
				}
				*/
			}
		}
		&.lock {
			label {
				border: 2px dashed #C6C9CD;
				color: #C6C9CD;
				cursor: inherit;
				&:after {
					font-family: FontAwesome;
					content: '\f023';
					background: #C6C9CD;
					display: block;
					position: absolute;
					width: 40px;
					height: 40px;
					top: -20px;
					right: -20px;
					text-align: center;
					.border-radius(20px);
					border: 4px solid white;
					padding-top: 7px;
					font-weight: normal;
					color: white;
				}
			}
			p.note {
				text-align: center;
			}
		}
		&.coming {
			label {
				border: 1px solid #C6C9CD;
				color: #C6C9CD;
				cursor: inherit;
				&:after {
					font-family: FontAwesome;
					content: '\f133';
					background: #C6C9CD;
					display: block;
					position: absolute;
					width: 40px;
					height: 40px;
					top: -20px;
					right: -20px;
					text-align: center;
					.border-radius(20px);
					border: 4px solid white;
					padding-top: 7px;
					font-weight: normal;
					color: white;
				}
			}
		}
	}
}



.digest .digest_company .summary {
	ul {
		margin: 0;
		padding: 0;
		li {
			border: 1px solid @borderGray;
			margin: 0;
			padding: 0;
			display: inline-block;
			list-style-type: none;
			width: 23%;
			margin: 1%;
			float: left;
			.border-radius(3px);
			
			header {
				&:after {
					content: '';
					font-family: FontAwesome;
					display: inline-block;
					float: right;
					color: white;
					
				}
			}
			
			header {
				padding: 10px;
				border-bottom: 1px solid @borderGray;
				color: white;
				.border-radius(3px 3px 0 0);
			
			}
			article {
				padding: 10px;
				height: 60px;
			}
			&.twitter {
				header {
					background: @twitter;
					&:after {
						content: @i-twitter;
					}
				}
			}
			&.facebook {
				header {
					background: @facebook;
					&:after {
						content: @i-facebook;
					}
				}
			}
			&.linkedin {
				header {
					background: @linkedin;
					&:after {
						content: @i-linkedin;
					}
				}
			}
			&.linked_in {
				header {
					background: @linked_in;
					&:after {
						content: @i-linked_in;
					}
				}
			}
			&.google_plus {
				header {
					background: @google_plus;
					&:after {
						content: @i-google_plus;
					}
				}
			}
			&.google {
				header {
					background: @google;
					&:after {
						content: @i-google;
					}
				}
			}
			&.instagram {
				header {
					background: @instagram;
					&:after {
						content: @i-instagram;
					}
				}
			}
			&.crunchbase {
				header {
					background: @crunchbase;
					&:after {
						font-family: 'icomoon';
						content: @i-crunchbase;
					}
				}
			}
			&.rss {
				header {
					background: @rss;
					&:after {
						content: @i-rss;
					}
				}
			}
			&.pinterest {
				header {
					background: @pinterest;
					&:after {
						content: @i-pinterest;
					}
				}
			}
			&.glassdoor {
				header {
					background: @glassdoor;
					&:after {
						font-family: 'icomoon';
						content: @i-glassdoor;
					}
				}
			}
			&.mentions {
				header {
					background: @mentions;
					&:after {
						font-family: 'icomoon';
						content: @i-mentions;
					}
				}
			}
			&.webalerts {
				header {
					background: @webalerts;
					&:after {
						content: @i-webalerts;
					}
				}
			}

			&.indeed {
				header {
					background: @indeed;
					&:after {
						font-family: 'icomoon';
						content: @i-indeed;
					}
				}
			}
			&.sec_alerts {
				header {
					background: @sec_alerts;
					&:after {
						content: @i-sec_alerts;
					}
				}
			}
			&.angel_list {
				header {
					background: @angel_list;
					&:after {
						content: @i-angel_list;
					}
				}
			}
			&.github {
				header {
					background: @github;
					&:after {
						content: @i-github;
					}
				}
			}
			&.bitbucket {
				header {
					background: @bitbucket;
					&:after {
						content: @i-bitbucket;
					}
				}
			}
			&.wikipedia {
				header {
					background: @wikipedia;
					&:after {
						font-family: 'icomoon';
						content: @i-wikipedia;
					}
				}
			}
			&.youtube {
				header {
					background: @youtube;
					&:after {
						content: @i-youtube;
					}
				}
			}
			&.patents {
				header {
					background: @patents;
					&:after {
						font-family: 'icomoon';
						content: @i-patents;
					}
				}
			}
			&.yelp {
				header {
					background: @yelp;
					&:after {
						content: @i-yelp;
					}
				}
			}
			&.dns {
				header {
					background: @dns;
					&:after {
						font-family: 'icomoon';
          				content: @i-dns;
					}
				}
			}
			&.alexa {
				header {
					background: @alexa;
					&:after {
						font-family: 'icomoon';
						content: @i-alexa;
					}
				}
			}
			&.custom_data {
				header {
					background: @custom_data;
					&:after {
						content: @i-custom_data;
					}
				}
			}
			&.screenshot {
				header {
					background: @screenshot;
					&:after {
						font-family: 'icomoon';
						content: @i-screenshot;
					}
				}
			}
			/*
			&.newsourcehere {
				header {
					background: @newsourcecolorhere;
					&:after {
						content: @i-newsourceiconhere;
					}
				}
			}
			*/
		}
	}
}



.social_report {
  padding: 0;
  margin: 20px 0;
  >li {
    width: 100%;
    display: inline-block;
    &:hover {
      background: url(../../img/bg-pattern.png) repeat;
    }
    &:first-child {
      ul {
        li {
          &:before {
            content: '';
            width: 90%;
            border-top: 1px solid black;
            display: inherit;
            margin-left: 5%;
          }
        }
      }
    }
    &:last-child {
      ul {
        li {
          &:after {
            content: '';
            width: 90%;
            display: inline-block;
            border-bottom: 1px solid black;
            display: inherit;
            margin-left: 5%;
          }
        }
      }
    }
  }
  .lead {
    width: 16%;
    height: 150px;
    border-left: none;
    zoom: 1;
    background: white;
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: inline-block;
    width: 21%;
    height: 150px;
    text-align: center;
    box-sizing: border-box;
    float: left;
    zoom: 1;
    border-left: 1px dotted black;
  }
  .lead {
    width: 16%;
    height: 150px;
    border-left: none;
    .clearfix;
      img {
        max-width: 100px;
        max-height: 60px;
        margin-top: 30px;
      }
      h4 {
        font-family: Georgia;
        color: #8e8e8e;
        font-weight: normal;
      }
    
  }
  ul {
    padding: 0;
    margin: 0;
    li {
      padding: 0;
      margin: 0;
      list-style-type: none;
      display: inline-block;
      width: 21%;
      width: 231px;
      height: 150px;
      text-align: center;
      box-sizing: border-box;
      float: left;
      .clearfix;
      border-left: 1px dotted black;
      a {
        height: 150px;
        display: block;
        padding-top: 40px;
        h1 {
          margin: 0;
          font-family: 'Oswald', sans-serif;
          font-weight: normal;
          font-size: 50px;
          margin-bottom: 20px;

        }
        span {
          font-family: 'Oswald', sans-serif;
          font-weight: normal;
          display: none;
        }
      }
      &.locked {
        a {
          padding-top: 60px;
        }
      }
      &.facebook {
        a {
          h1 {
            color: @facebook;
          }
        }
      }
      &.twitter {
        a {
          h1 {
            color: @twitter;
          }
        }
      }
      &.linkedin {
        a {
          h1 {
            color: @linkedin;
          }
        }
      }
      &.linked_in {
        a {
          h1 {
            color: @linked_in;
          }
        }
      }
      &.google_plus {
        a {
          h1 {
            color: @google_plus;
          }
        }
      }
      &.google {
        a {
          h1 {
            color: @google;
          }
        }
      }
      &.instagram {
        a {
          h1 {
            color: @instagram;
          }
        }
      }
      &.crunchbase {
        a {
          h1 {
            color: @crunchbase;
          }
        }
      }
      &.rss {
        a {
          h1 {
            color: @rss;
          }
        }
      }
      &.pinterest {
        a {
          h1 {
            color: @pinterest;
          }
        }
      }
      &.glassdoor {
        a {
          h1 {
            color: @glassdoor;
          }
        }
      }
      &.mentions {
        a {
          h1 {
            color: @mentions;
          }
        }
      }
      &.webalerts {
        a {
          h1 {
            color: @webalerts;
          }
        }
      }

      &.indeed {
        a {
          h1 {
            color: @indeed;
          }
        }
      }
      &.sec_alerts {
        a {
          h1 {
            color: @sec_alerts;
          }
        }
      }
      &.angel_list {
        a {
          h1 {
            color: @angel_list;
          }
        }
      }
      &.github {
        a {
          h1 {
            color: @github;
          }
        }
      }
      &.bitbucket {
        a {
          h1 {
            color: @bitbucket;
          }
        }
      }
      &.wikipedia {
        a {
          h1 {
            color: @wikipedia;
          }
        }
      }
      &.youtube {
        a {
          h1 {
            color: @youtube;
          }
        }
      }
      &.patents {
        a {
          h1 {
            color: @patents;
          }
        }
      }
      &.yelp {
        a {
          h1 {
            color: @yelp;
          }
        }
      }
      &.dns {
        a {
          h1 {
            color: @dns;
          }
        }
      }
      &.alexa {
        a {
          h1 {
            color: @alexa;
          }
        }
      }
      &.custom_data {
        a {
          h1 {
            color: @custom_data;
          }
        }
      }
      &.screenshot {
        a {
          h1 {
            color: @screenshot;
          }
        }
      }
      /*
		&.newsourcehere {
        a {
          h1 {
            color: @newsourcecolorhere;
          }
        }
      }
      */
      &:hover {
        a {
          color: white;
          background: #0f7bd6;
          h1 {
            color: white;
          }
          span {
            display: block;
          }
        }
      }
    }
  }
}



.icons_sources {
  margin-bottom: 30px;
  position: relative;
  &:hover {
    background: white !important;
    ul li:hover {
      background: white !important;
    }
    .prevowl, .nextowl {
      opacity: 1;
    }
  }
  .prevowl, .nextowl {
    opacity: .2;
    position: absolute;
    z-index: 999999999;
    top: 15px;
    color: @darkBlue;
    &:hover {
      color: inherit;
    }
  }
  .prevowl {
    left: 170px;
  }
  .nextowl {
    right: 0;
  }
  div.lead{
    display: block;
    width: 16%;
    .clearfix;
    float: left;
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
  }
  ul {
    margin: 0;
    padding: 0;
    .clearfix;
  
    li {
      width: 21%;
      width: 231px;
      margin: 0;
      padding: 0;
      text-align: center;
      display: block;
      float: left;
      list-style-type: none;
      box-sizing: border-box;
      &:before {
        font-family: FontAwesome;
        content: '';
        color: white;
        display: inline-block;
        width: 50px;
        height: 50px;
        .border-radius(25px);
        background: black;
        text-align: center;
        line-height: 50px;
        font-size: 24px;

      }
      &.facebook {
        &:before {
          content: @i-facebook;
          background: @facebook;
        }
      }
      &.twitter {
        &:before {
          content: @i-twitter;
          background: @twitter;
        }
      }
      &.linkedin {
        &:before {
          content: @i-linkedin;
          background: @linkedin;
        }
      }
      &.linked_in {
        &:before {
          content: @i-linked_in;
          background: @linked_in;
        }
      }
      &.google_plus {
        &:before {
          content: @i-google_plus;
          background: @google_plus;
        }
      }
      &.google {
        &:before {
          content: @i-google;
          background: @google;
        }
      }
      &.instagram {
        &:before {
          content: @i-instagram;
          background: @instagram;
        }
      }
      &.crunchbase {
        &:before {

          content: @i-crunchbase;
          background: @crunchbase;
        }
      }
      &.rss {
        &:before {
          content: @i-rss;
          background: @rss;
        }
      }
      &.pinterest {
        &:before {
          content: @i-pinterest;
          background: @pinterest;
        }
      }
      &.glassdoor {
        &:before {
          font-family: 'icomoon';
          content: @i-glassdoor;
          background: @glassdoor;
        }
      }
      &.mentions {
        &:before {
    	  font-family: 'icomoon';
          content: @i-mentions;
          background: @mentions;
        }
      }
      &.webalerts {
        &:before {
          content: @i-webalerts;
          background: @webalerts;
        }
      }

      &.indeed {
        &:before {
    	  font-family: 'icomoon';
          content: @i-indeed;
          background: @indeed;
        }
      }
      &.sec_alerts {
        &:before {	
          content: @i-sec_alerts;
          background: @sec_alerts;
        }
      }
      &.angel_list {
        &:before {
          content: @i-angel_list;
          background: @angel_list;
        }
      }
      &.github {
        &:before {
          content: @i-github;
          background: @github;
        }
      }
      &.bitbucket {
        &:before {
          content: @i-bitbucket;
          background: @bitbucket;
        }
      }
      &.wikipedia {
        &:before {
    	  font-family: 'icomoon';
          content: @i-wikipedia;
          background: @wikipedia;
        }
      }
      &.youtube {
        &:before {
          content: @i-youtube;
          background: @youtube;
        }
      }
      &.patents {
        &:before {
    	  font-family: 'icomoon';
          content: @i-patents;
          background: @patents;
        }
      }
      &.yelp {
        &:before {
          content: @i-yelp;
          background: @yelp;
        }
      }
      &.dns {
        &:before {
          font-family: 'icomoon';
          content: @i-dns;
          background: @dns;
        }
      }
      &.alexa {
        &:before {
    	  font-family: 'icomoon';
          content: @i-alexa;
          background: @alexa;
        }
      }
      &.custom_data {
        &:before {
          content: @i-custom_data;
          background: @custom_data;
        }
      }
      &.screenshot {
        &:before {
          font-family: 'icomoon';
		  content: @i-screenshot;
          background: @screenshot;
        }
      }
      /*
	  &.newsourcehere {
        &:before {
          content: @i-newsourceiconhere;
          background: @newsourcecolorhere;
        }
      }
      */
    }
  }
}


.select_company_carousel, .select_source_carousel  {
	width: 535px;
	.item {
		margin: 0;
		padding: 0;
		display: inline-block;
		list-style-type: none;
		float: left;
		width: 176px;
		text-align: center;
		height: 90px;
		input[type="radio"] + label {
			img {
				zoom: 1;
				opacity: 0.5;
			}
			h4 {
				color: @Gray;
			}
		}
		input[type="radio"]:checked + label {
			img {
				zoom: 1;
				opacity: 1;
			}
			h4 {
				color: Black;
			}
		}
		label {
			border: 2px solid #BEBEBE;
			padding: 5px;
			.border-radius(5px);
			width: 150px;
			height: 74px;
			img {
				max-width: 50px;
				max-height: 30px;
				margin: 0 auto;
				width: auto !important;
			}
			h4 {
				display: block;
				margin: 5px 0 0 0;
				font-size: 12px;
			}
			&:before {
				margin-bottom: 10px;
			}
		}

		.rd-facebook label:before {
			content: '\f09a' !important;
		}
		.rd-twitter label:before {
			content: '\f099' !important;
		}
		.rd-googleplus label:before {
			content: '\f0d5' !important;
		}
		.rd-google_plus label:before {
			content: '\f0d5' !important;
		}
		.rd-linkedin label:before {
			content: '\f0e1' !important;
		}
		.rd-linked_in label:before {
			content: '\f0e1' !important;
		}
		.rd-instagram label:before {
			content: @i-instagram !important;
		}
		.rd-crunchbase label:before {
			content: @i-crunchbase !important;
		}
		.rd-rss label:before {
			content: @i-rss !important;
		}
		.rd-pinterest label:before {
			content: @i-pinterest !important;
		}
		.rd-glassdoor label:before {
			content: @i-glassdoor !important;
		}
		.rd-mentions label:before {
			content: @i-mentions !important;
		}
		.rd-webalerts label:before {
			content: @i-webalerts !important;
		}
		.rd-indeed label:before {
			content: @i-indeed !important;
		}
		.rd-sec_alerts label:before {
			content: @i-sec_alerts !important;
		}
		.rd-angel_list label:before {
			content: @i-angel_list !important;
		}
		.rd-github label:before {
			content: @i-github !important;
		}
		.rd-bitbucket label:before {
			content: @i-bitbucket !important;
		}
		.rd-wikipedia label:before {
			content: @i-wikipedia !important;
		}
		.rd-youtube label:before {
			content: @i-youtube !important;
		}
		.rd-patents label:before {
			content: @i-patents !important;
		}
		.rd-yelp label:before {
			content: @i-yelp !important;
		}
		.rd-dns label:before {
			content: @i-dns !important;
		}
		.rd-alexa label:before {
			content: @i-alexa !important;
		}
		.rd-custom_data label:before {
			content: @i-custom_data !important;
		}
		.rd-screenshot label:before {
			content: @i-screenshot !important;
		}
		/*
		.rd-newsourcehere label:before {
			content: @i-newsourcehere !important;
		}
		*/
		.rd-disable {
			label {
				border: 2px dashed #BEBEBE;
			}
		}
	}
	
}
