/* Mixins */

//Border radius
.border-radius(@radius: 5px) {

  -webkit-border-radius: 	@radius;
  -moz-border-radius: 		@radius;
  -ms-border-radius:      	@radius;
  -o-border-radius:			@radius;
  border-radius: 			@radius;

}

.shadow(@x-axis: 0, @y-axis: 0, @blur: 5px, @r:0, @g: 0, @b: 0, @alpha: 0.1) {

  -webkit-box-shadow: 		@x-axis @y-axis @blur rgba(@r, @g, @b, @alpha);
  -moz-box-shadow: 			@x-axis @y-axis @blur rgba(@r, @g, @b, @alpha);
  box-shadow: 				@x-axis @y-axis @blur rgba(@r, @g, @b, @alpha);

}

//Clearfix
.group, .cf, .clearfix {
  zoom: 1; // For IE 6/7 (trigger hasLayout)

  &:before, &:after {
    content: "";
    display: table;
  }

  &:after {
    clear:both;
  }
}



/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


.middle {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.middle-parent {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
