
.left_column {
	border-right: 1px solid @Gray;
	padding-right: 20px;
}
.right_column {
	border-left: 1px solid @Gray;
	padding-left: 40px;
}

.add_source {
	color: @Blue !important;
	font-size: 18px;
}