.digest {
	background: white;
	border: 1px solid @borderGray;
	margin-bottom: 20px;
	.border-radius;
	.cf;
	.digest_company {
		.cf;
		.company {
			width: 20%;
			float: left;
			padding: 20px;
			text-align: center;
			a {
				display: block;
			}
		}
		.summary {
			width: 80%;
			float: left;
			border-left: 1px solid @borderGray;
			padding: 20px;
		}
	}
}


