// Author: 	David Matus
// Project: Track a Company

@import "variables.less";
@import "mixins.less";
@import "typography.less";
@import "elements.less";

@import "layout.less";

@import "icons.less";

@import "header.less";

@import "forms.less";
@import "buttons.less";

@import "flow.less";

@import "tracka.less";


@import "sources.less";

@import "social_activate.less";

@import "main_sources.less";

@import "_credits.less";
/*** Print ***/
@media print {
	//@import '../../../../openside/css/openside.css';

}

span.down, span.up {
	font-size: 24px;
	padding-left: 24px;
}




.milestones  {
	margin: 0;
	padding: 0;
	li {
		list-style-type: none;
		color: #9EA5B2;
		font-size: 14px;
		line-height: 18px;
		margin-bottom: 20px;
		padding-left: 30px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.goal {
	background: url('../img/icons/goal.png') no-repeat left;
}
.acquired {
	background: url('../img/icons/acquired.png') no-repeat left;
	a {

	}
}
.investment {
	background: url('../img/icons/investment.png') no-repeat left;	
}



// Section

//Search Company
.search_company {
	margin-top: 100px;
	margin-bottom: 200px;
	.shadow( 0 2px 2px rgba(0,0,0,.05));
	background: white;
	padding: 0;
	.border-radius(5px);
	header {
		.border-radius(5px 5px 0 0);
		padding: 20px 0;
		background: #1C2A3A;
		color: white;
		text-align: center;
		h4 {
			margin: 0 auto;
			display: table;
		}
	}
	article {
		padding: 30px;
		height: 100%;
		height: auto;
		overflow: hidden;
	}
	h4 {
		margin-right: 20px;
		float: left;
		margin-top: 23px;
		display: inline-block;
	}
	.source_options {
		margin-top: 10px;
		float: left;
		display: inline-block;
		label {
			float: left;
			margin-right: 30px;
			cursor: pointer;
			input {
				float: left;
				width: 30px;

			}
		}
	}
}




.search_company {
	 form {
		input[type="text"] {
			padding: 18px 14px;
			background: #F2F4F9;
			border: 1px solid #E4E8ED;
			.border-radius(5px);
			font-size: 20px;
			font-weight: bold;
			float: left;
			outline: none;
	  		line-height: 25px;
	  		box-shadow:none !important;
		}
		button.btn-lg {
			//width: 140px !important;
			@media (max-width: 1196px) {
				//width: 123px;
			}
		}
	}
}

	

/* Large desktop */
@media (min-width: 1200px) { 
	.search_company, .search_company_results {
		form {
			input[type="text"] {
				width: 100%;
				//margin-right: 2.702702702702703%;
			}
			button.btn-lg {
				//width: 12.61261261261261%;
			}
		}
	}
}

@media (min-width: 997px) and (max-width: 1199px) {
	.search_company, .search_company_results {
		form {
			input[type="text"] {
				width: 100%;
				//margin-right: 3.409090909090909%;
				button.btn-lg {
					//width: 13.97727272727273%;
				}
			}
		}
	}
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 996px) {
	.search_company, .search_company_results {
		form {
			input[type="text"] {
				//width: 76.9578313253012%;
				//margin-right: 4.518072289156627%;
				button.btn-lg {
					//width: 18.52409638554217%;
				}
			}
		}
	}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

}
 
/* Landscape phones and down */
@media (max-width: 480px) {

}




//List of companies
.block-shadowed {
	display:block;
	background: white;
	.border-radius(5px);
	.shadow( 0 2px 0 rgba(0,0,0,.05));
	padding: 10px 20px;
	float: left;
	list-style-type: none;
	margin: 0;
	width: 23.0769230769%;
	margin-right: 2.5641025641%;
	margin-bottom: 2.5641025641%;
	&:nth-child(4n+4) {
		margin-right: 0;
	}
}
.results {
	ul.list {
		margin: 0;
		padding: 0;
		li {
			display:block;
			background: white;
			//.border-radius(5px);
			//.shadow( 0 2px 0 rgba(0,0,0,.05));
			//padding: 10px 20px;
			float: left;
			list-style-type: none;
			//margin: 0;
			width: 23.0769230769%;
			margin-right: 2.5641025641%;
			margin-bottom: 2.5641025641%;
			.shadow(0 2px 2px rgba(0,0,0,.05));
			padding: 30px;
			box-sizing: border-box;
			list-style-type: none;
			margin: 0; 
			width: 48.4536082474%;
			margin-right: 3.09278350515%;
			margin-bottom: 3.09278350515%;
			&:nth-child(2n+2) {
				margin-right: 0;
			}
		}
	}
}
.companies-list {
	margin:30px 0 0 0;
	padding: 0;
	li {
		.block-shadowed;
		height: 213px;
		display: block;
		box-sizing: border-box;
		h5 {
			margin-top: 0;
			text-align: center;
			color: #9EA7B3;
			font-size: 16px;
			font-weight: bold;	
		}
		.logo-holder {
			height: 143px;
			text-align: center;
			img {
				margin-top: 35px;
				max-height: 65px;
				width: auto;
			}
		}
		p {
			margin: 0;
			color:#B8BFC9;
			font-size: 13px;
			display:inline-block;
		    width:230px;
		    white-space: nowrap;
		    overflow:hidden !important;
		    text-overflow: ellipsis;
		}
	}
}



.card_companies-list {
	padding: 10px 0 0 0;
	list-style-type: none;
	.sources {
		font-size: 12px;
		li {
			font-size: 14px;
		}
	}
	.add-company {
		display: inline-block;
		width: 100%;
		margin-right: 0;
		border: 1px dashed #D8DCE1;
		background: #F8F9FA;
		.shadow(0 0 0 white);
		text-align: center;
		height: 213px;
		box-sizing: border-box;
			span {
			padding-top: 138px;
			display: block;
			color: #9EA5B2;
			font-size: 12px;
			font-weight: bold;
			margin-bottom: 43px;
			background: url('../img/add.png') no-repeat center center;
		}
		&:hover {
			background: white;
			span {
				color:#F16739;	
				background: url('../img/add-hover.png') no-repeat center center;
			}
			
		}
	}
}

	


//Results
.search_company_results {
	.search_company;
	margin-top: 60px;
	margin-bottom: 20px;
	.source_options  {
		margin-left: 0;
	}
	h4 {
		margin-top: inherit !important;
	}
}

.results {
	> h2 {
		font-size: 24px;
		font-weight: bold;
		color: #1D2A39;
		margin-bottom: 10px;
	}
	margin-left: 0 !important;
	ul.list li {
		display: block;
		header {
			display: block;
			.clearfix;
			//height: auto;
			//height: 100%;
			//overflow: hidden;
			margin-bottom: 10px;
			h4 {
				color: #00A4C6;
				font-size: 16px;
				font-weight: bold;
				float: left;
				width: 75%;
				margin: 0;
			}
			a.btn {
				float: right;
				color: #F16639;
				background: #F2F4F9;
			}
		}
			
		img {
			display: block;
			float: left;
			margin: 0 10px 10px 10px;
		}
		span {
			display: block;
			a {
				float: left;
				margin-right: 20px;
				font-size: 14px;
			}
		}
		p {
			color: #9EA5B2;
			font-size: 13px;
			margin-bottom: 0;
			margin-top: 5px;
		}
	}

}
.paginator {
	text-align: center;
}
.pagination {
	margin: 0 auto;
	.cf;
	a {
		color: #00A4C5;
		font-size: 16px;
		font-weight: bold;
	}
}



//Company single page
.single_company {
	.cf;
	> header {
		margin: 30px 0;
		.border-radius(5px);
		padding: 30px 0 0 0;
		box-sizing: border-box;
		background: white;
		a {
			display: block;
			font-weight: bold;
		}
		.company_title {
			padding: 0 30px;
			.cf;
			.img-content {
				.img {
					img {
						max-height: 60px;
						height: auto;
						max-width: 150px;
						width: auto;
					}
				}
				.content {
					margin-left: 20px;
					width: 700px;
					
					h3 {
						margin: -8px 0 0 0;
						
					}
					span {
						a {
							float: left;
							margin-right: 5px;
						}
						p {
							float: left;
							color: #9EA5B2;
							margin-bottom: 0;
						}
					}
					.socials {
						margin: 0;
						li {
							display: inline-block;
							margin-right: 10px;
							list-style-type: none;
							&:first-child {
								margin-left: 20px;
							}
						}
					}
					.competitors {
						float: left;
						margin-right: 40px;
						margin-top: 10px;
						ul {
							margin: 0;
							padding: 0;
							li {
								color: #9EA5B2;
								font-weight: normal;
								display: inline-block;
								list-style-type: none;
								margin-right: 10px;
							}
						}
					}
					.sources {
						.competitors;
					}
				}
			}
			a.btn-primary {
				max-width: 270px;
				white-space: nowrap;
				overflow:hidden;
				text-overflow:ellipsis;
				text-align: left;
			}


			h3 {
				
				span {
					font-size: 13px;
					line-height: 16px;
					p, a {
						display: inline-block;
						float: left;
					}
				}
			}
		}
		.nav-tabs {
			border-bottom: 1px solid #E4E9ED;
			margin: 0;
			margin-top: 10px;
			padding-left: 110px;
			float: inherit;
			>li {
				color:#1B2A39;
				>a {
					color: #00A4C6;
					font-size: 16px;
					font-weight: bold;
					padding: 10px 16px;
				}
				&.active {
					a {
						background: #F7F9FB;	
						color: #1B2A39;
					}
					
				}
			}
			>.active {
				>a {
					border: 1px solid #E4E9ED;
					border-bottom-color: transparent;
				}
			}
			li.settings {
				float: right;
				a {
					color: #9EA7B3;
					&:hover {
						color: #F16739;
						.icon-gears {
							background: url('../img/icons/gears_hover.png') no-repeat;
						}
					}
				}
			}
			a.settings {
				float: right;
				margin-right: 30px;
				color: #9EA7B3;
				font-weight: bold;
				font-size: 18px;
				&:hover {
					color: #F16739;
					.icon-gears {
						background: url('../img/icons/gears_hover.png') no-repeat;
					}
				}
			}
		}

		.tab-content {
			background: #F7F9FB;
			padding: 20px 30px;
			.border-radius(0 0 5px 5px);
			.shadow(0 2px 2px rgba(0,0,0,.05));
		}
		.sources_menu {
			margin: 0;
			li {
				list-style-type: none;
				float: left;
				a {
					color: #9EA7B3;
					display: block;
					padding: 10px 20px;
					.border-radius(5px);
					i.fa {
						margin-right: 5px;
						margin-top: 3px;
						font-size: 18px;
					}
				}
				&.active {
					a {
						color: white;
						background: #F16739;
						i.fa {
							color: white !important;
						}
					}
				}
			}
		}
		.sources_menu_competitors {
			margin: 0;
			li {
				list-style-type: none;
				float: left;
				margin-right: 20px;
				a {
					display: block;
					background: white;
					.border-radius(5px);
					padding: 5px 0;
					text-align: center;
					width: 140px;
					line-height: 30px;
					&:hover {
						background: white;
					}
					img {
						max-height: 30px;
						height:  auto;
						max-width: 100px;
						width: auto;
					}
				}

				&.active {
					a {
						border: 2px solid #00A4C7;
					}
				}
				&.gray {
					a {
						border: 2px solid #9EA7B3;
						img {
							opacity: 0.5;
						}
					}
				}
				&.gray:hover {
					a {
						border: 2px solid #00A4C7;
						img {
							opacity: 1;
						}
					}
				}
			}
			.add_competitor {

				float: right;
				margin-right: 0;
				a {
					color: #9EA7B3;	
					background: transparent;
					&:hover {
						color: #F16739;
						background: transparent;
						span {
							background: url('../img/icons/add_hover.png') no-repeat;	
						}
						
					}
					span {
						margin-right: 0;
						margin-top: 9px;
					}
				}
			}
		}
	}
}

.competitors {
	float: left;
	margin-right: 40px;
	margin-top: 10px;
	ul {
		margin: 0;
		padding: 0;
		li {
			color: #9EA5B2;
			font-weight: normal;
			display: inline-block;
			list-style-type: none;
			margin-right: 10px;
			img {
				max-width: 50px;
			}
		}
	}
}
.sources {
	.competitors;
}

.stat {
	margin-bottom: 40px;
	> h3 {
		margin: 0 0 10px 0;
		font-weight: normal;
		color: #9EA5B2;
	}
	section {
		background: white;
		.border-radius(5px);	
		.shadow(0 2px 2px rgba(0,0,0,.05));
		header {
			padding: 20px 30px;
			.cf;
			h3 {
				float: left;
				margin: 0;
				span {
					font-weight: normal;
					float: left;
					margin-right: 20px;

				}
			}
			span {
				float: right;
				margin: 0;
				line-height: 40px;
				font-size: 24px;
			}
		}
		article {
			background: #F7F9FB;
			border-top: 1px solid #E4E9ED;
			.border-radius(0 0 5px 5px);
		}
	}
	

	footer {
		border-top: 1px solid #E4E9ED;
		padding: 30px;
		p {
			font-size: 14px;
			line-height: 24px;
			color: #6E798C;
			margin-bottom: 20px;
		}
		&.paginator .pagination {
			margin: 0 auto;
		}
		table {
			background: white;
			
			th {
				color: #9EA5B2;
				font-size: 13px;
				font-weight: normal;
			}
			td {
				color: #192A39;
				font-weight: bold;
			}
			.down, .up {
				padding-left: 24px;
				font-size: 13px;
				height: 40px;
			}
		}
	}
}

.stat_sources {
	margin:0;
	li {
		list-style-type: none;
		margin-bottom: 20px;
		color: #9EA5B2;
		font-size: 16px;
	}
}

.nav-stacked {
	li {
		a {
			color: #9EA7B3;
			font-size: 14px;
			font-weight: bold;
			padding: 16px;
		}
		&.active {
			a {
				background: #00A4C7;
				color: white;
			}
		}
	}
}

.tab-content header {
	border-bottom: 1px solid #E4E9ED;
	padding: 20px;
	.cf;
	h6 {
		float: left;
		margin: 0;
		font-size: 16px;
		color: #9EA5B2;
		font-weight: normal;
		line-height: 30px;
	}
	form.search-content {
		margin: 0;
		float: right;
		position: relative;
		input {
			float: left;
			margin: 0;
		}	
		button {
			position: absolute;
			right: 10px;
			top: 7px;
			float: left;
			border: none;
			display: block;
			width: 16px;
			height: 16px !important;
			background: url('../img/icons/search_mini.png') no-repeat;
			padding-right: 10px;
		}
	}
	
}

.tab-content footer {
	border-top: 1px solid #E4E9ED;
	padding: 30px;
	h3 {

	}
	p {
		font-size: 14px;
		line-height: 24px;
		color: #6E798C;
		margin-bottom: 20px;
	}
	&.paginator .pagination {
		margin: 0 auto;
	}
}

ul.simple {
	margin: 0;
	padding: 30px;
	.cf;
	li {
		margin: 0 0 30px 0;
		padding: 0 10px 0 0;
		box-sizing: border-box;
		list-style-type: none;
		float: left;
		display: inline-block;
		h3, a {
			color: #1B2A39;
			margin: 0;
			font-size: 24.5px;
			line-height: 40px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			margin-top: -10px;
			&.tags {
				font-size: 16px;
			}
		}
		a {
			color: #F16639;
			display: block;
			font-weight: bold;
		}
		span {
			color: #9EA5B2;
		}
	}
	&.two-col {
		li {
			width: 50%;
			h3, a {
				width: 100%;
			}
		}
	}
	&.three-col {
		li {
			width: 33%;
			img {
				
			}
			h3, a {
				width: 100%;
			}
		}
	}
	&.free {
		li {
			width: auto;
			img {
				
			}
			h3, a {
				width: 100%;
			}
		}
	}
}

#people {
	.simple.three-col {
		.img-content {
			width: 100%;
			.cf;
			.img {
				height: 54px;
				text-align: center;
				img {
					max-width: 60px;
					max-height: 54px;
					width: 	auto;
					height: auto;
				}
			}
			@media (min-width: 1200px) {
				.img {
					width: 23.3333333333%
				}
				.content {
					width: 76.6666666667%;
				}
			}
			@media (min-width: 997px) and (max-width: 1199px) {
				.img {
					width: 29.4117647059%
				}
				.content {
					width: 70.5882352941%;
				}
			}
			@media (min-width: 768px) and (max-width: 996px) {
				.img {
					width: 39.3258426966%
				}
				.content {
					width: 60.6741573034%;
					h3, a {
						font-size: 18px;
					}
					span {
						font-size: 12px;
					}
				}
			}
		}
	}
}

#products, #competitors {
	.simple.three-col {
		li a {
			font-size: 18px;
			color: #00A4C5;
		}
	}
}

#milestones {
	.milestones {
		padding: 30px;
	}
}

#funding {
	padding: 30px;
}

.tab-content-holder {
	padding: 30px;
}
table.table td {
	color: #9EA5B2;
	font-size: 14px;
	line-height: 18px;
}
table.table {
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
}

.profile {
	background: white;
	padding: 20px 0 0 0;
	.shadow(0 2px 2px rgba(0,0,0,.05));
	.border-radius(5px);
	.nav-tabs {
		border-bottom: 1px solid #E4E9ED;
		margin: 0;
		margin-top: 10px;
		padding-left: 20px;
		>li {
			color:#1B2A39;
			>a {
				color: #9EA5B2;
				font-size: 16px;
				font-weight: normal;
				padding: 8px 12px;

			}
			&.active {
				a {
					background: #F7F9FB;	
					color: #1B2A39;
				}
				
			}
		}
		>.active {
			>a {
				border: 1px solid #E4E9ED;
				border-bottom-color: transparent;
			}
		}
	}
	.tab-content {
		background:#F7F9FB;
		.border-radius(5px);
		padding: 20px;
	}
}
/* Large desktop */
@media (min-width: 1200px) { 
	.single_company {
		> header {
			margin: 30px 0;
			.border-radius(5px);
			padding: 30px 0 0 0;
			box-sizing: border-box;
			background: white;
			//height: 124px;
			a {
				display: block;
				font-weight: bold;
			}
			.company_title {
				padding: 0 30px;
				.img-content {
					.content {
						margin-left: 20px;
						width: 700px;
						
						h3 {
							margin: 0;
							white-space: nowrap;
							overflow:hidden;
							text-overflow:ellipsis;
							margin: -8px 0 0 0;
						}
						span {
							a {
								float: left;
								margin-right: 5px;
							}
							p {
								float: left;
								color: #9EA5B2;
								margin-bottom: 0;
							}
							.socials {
								margin: 0;

								li {
									display: inline-block;
									margin-right: 10px;
									list-style-type: none;
									&:first-child {
										margin-left: 20px;
									}
								}
								
							}
						}
					}
				}
				a.btn-primary {
					max-width: 270px;
					white-space: nowrap;
					overflow:hidden;
					text-overflow:ellipsis;
					text-align: left;
				}


				h3 {
					
					span {
						font-size: 13px;
						line-height: 16px;
						p, a {
							display: inline-block;
							float: left;
						}
					}
				}
			}
			.nav-tabs {
				border-bottom: 1px solid #E4E9ED;
				margin: 0;
				margin-top: 10px;
				padding-left: 110px;
				>li {
					color:#1B2A39;
					>a {
						color: #00A4C6;
						font-size: 16px;
						font-weight: bold;
						padding: 10px 16px;
					}
					&.active {
						a {
							background: #F7F9FB;	
							color: #1B2A39;
						}
						
					}
				}
				>.active {
					>a {
						border: 1px solid #E4E9ED;
						border-bottom-color: transparent;
					}
				}
				
			}

			.tab-content {
				background: #F7F9FB;
				padding: 20px 30px;
				.border-radius(0 0 5px 5px);
				.shadow(0 2px 2px rgba(0,0,0,.05));
			}
			.sources_menu {
				margin: 0;
				li {
					list-style-type: none;
					float: left;
					a {
						color: #9EA7B3;
						display: block;
						padding: 10px 20px;
						.border-radius(5px);
						img {
							margin-right: 5px;
						}
					}
					&.active {
						a {
							color: white;
							background: #F16739;
						}
					}
				}
			}
		}
	}
}

@media (min-width: 997px) and (max-width: 1199px) {
	.single_company {
		header {
			.company_title {
				.img-content {
					.content {
						width: 540px;
						h3 {
							margin: -8px 0 0 0;
						}
					}
				}
			}
		}
	}
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 996px) {
	.single_company {
		header {
			
			.company_title {
				.img-content {
					.content {
						width: 320px;
						span {
							width: 320px;

						}
						h3 {
							margin: -8px 0 0 0;
						}
						.socials {
							li {
								margin-top: 10px;
								&:first-child {
									margin-left: 0;
								}
							}
						}
					}
				}
			}
		}
	}
}

 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

}
 
/* Landscape phones and down */
@media (max-width: 480px) {

}


.base_data {
	padding-top: 30px;
	.cf;
	> span {
		
		display: block;
	}
}
.source {

	padding-left:0;
	margin:0;
	> li {
		position: relative;
		.block-shadowed;
		padding: 0;
		width: 48.7179487179%;
		margin-right: 2.5641025641%;
		margin-bottom: 5%;
		.shadow(0 2px 2px rgba(0,0,0,.05));
		&:nth-child(2n+2) {
			margin-right: 0;
		}
	}
	.inner {
		padding: 30px;
	}
}
.source_logo {
	position:absolute;
	top: -30px;
	img {
		margin-right: 5px;
	}
	color: #1A2A39;
	font-size: 16px;
	font-weight: bold;
}
.top-white_bottom-gray {
	.top  {
		margin: 0;
		padding: 0;
		li {
			list-style-type: none;
			color: #9EA5B2;
			font-size: 14px;
			line-height: 18px;
			margin-bottom: 20px;
			padding-left: 30px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.bottom {
		.border-radius(0 0 5px 5px);
		border-top: 1px solid #E4E9ED;
		background: #F7F9FB;
		overflow: hidden;
		.col-two {
			padding: 20px;
			display: inline-block;
			width: 50%;
			float: left;
			box-sizing: border-box;
			&:last-child {
				border-left: 1px solid #E4E9ED;
			}
			h6 {
				margin-top: 0;
				font-weight: normal;
				font-size: 12px;
				color: #9EA5B2;
			}
			h4 {
				float: left;
				font-size: 16px;
				font-weight: bold;
				margin: 0;
				line-height: 1.428571429;
			}
			h5 {
				float: left;
				font-size: 16px;
				font-weight: normal;
				color: #9EA5B2;
				margin: 0;
				line-height: 1.428571429;
				strong {
					color: #1A2A39;
					font-weight: bold;
					margin-right: 5px;
				}
			}
			span {
				color: #9EA5B2;
				font-weight: normal;
			}
			span.down, span.up {
				font-size: 16px;
				padding-left: 24px;
			}
			.down {
				font-weight: bold;
				color: #FF2626;
				background: url('../img/icons/down.png') no-repeat left;
			}
			.up {
				font-weight: bold;
				color: #36D900;
				background: url('../img/icons/up.png') no-repeat left;
			}
		}
	}
}






.window {
	.trebol {
		.leaf {
			width: 50%;
			float:left;
			padding: 30px;
			text-align: center;
			box-sizing: border-box;
			h1 {
				padding-top: 34px;
				font-weight: bold;
				font-size: 42px;
				margin-bottom: 10px;

			}
			p {
				color: #9EA5B2;
				font-size: 14px;
			}
			&:nth-child(1) {
				border-right: 1px solid #E4E9ED;
				border-bottom: 1px solid #E4E9ED;
			}
			&:nth-child(2) {
				border-bottom: 1px solid #E4E9ED;
			}
			&:nth-child(3) {
				border-right: 1px solid #E4E9ED;
			}
		}
		

		.likes {
			background: url('../img/icons/likes.png') no-repeat 50% 30px;
		}
		.talking {
			background: url('../img/icons/talking.png') no-repeat 50% 30px;
		}
		.count {
			background: url('../img/icons/count.png') no-repeat 50% 30px;
		}
		.checkins {
			background: url('../img/icons/checkins.png') no-repeat 50% 30px;
		}
	}
}

.four-rows {
	.stats {
		.four_rows {
			border-bottom: 1px solid #E4E9ED;
			div {
				display: block;
				height: 100%;
				height: auto;
				overflow: hidden;
				padding: 17px 20px;
				p {
					float: left;
					color: #9EA5B2;
					font-size: 28px;
					margin: 0;
					font-size: 28px;
					line-height: 55px;
					margin: 0;
				}
				span {
					float: right;
					color: #1B2A39;
					font-size: 38px;
					font-weight: bold;
					line-height: 54px;
				}
			}
		}
	}
}

.two-row {
	.domino {
		text-align: center;
		width: 100%;
		float:left;
		text-align: center;
		h1 {
			padding-top: 39px;
			font-weight: bold;
			font-size: 42px;
			margin-bottom: 10px;
		}
		p {
			color: #9EA5B2;
			font-size: 14px;
		}
		.piece {
			padding: 30px 30px 25px 30px;
		}
		.employees {
			background: url('../img/icons/employees.png') no-repeat 50% 30px;
			border-bottom: 1px solid #E4E9ED;
		}
		.followers {
			background: url('../img/icons/followers.png') no-repeat 50% 30px;
			
		}
		.plus {
			background: url('../img/icons/plus.png') no-repeat 50% 30px;
			border-bottom: 1px solid #E4E9ED;
		}
		.post {
			background: url('../img/icons/blog.png') no-repeat 50% 30px;
			border-bottom: 1px solid #E4E9ED;
		}
		.comments {
			background: url('../img/icons/comments.png') no-repeat 50% 30px;
		}
	}
}

@media (min-width: 1200px) {
	.col-two {
		span.down, span.up, span {
			float: right;
		}
	}
}


@media (min-width: 997px) and (max-width: 1199px) {
	.top-white_bottom-gray {
		.bottom {
			.col-two {
				text-align: center;
				h6 {
					text-align: center;
				}
				h5 {
					float: none;
					text-align: center;
				}
				h4 {
					float: none;
				}
				span {
					float: none;
					margin-top: 5px;
					display: inline-block;
					
				}
			}
		}
	}
	.source > li {
		margin-bottom: 6.5%;
	}
	.window {
		.trebol {
			.leaf {
				h1 {
					font-size: 28px;
				}
			}
		}
	}
}
@media (min-width: 768px) and (max-width: 996px) {
	.top-white_bottom-gray {
		.bottom {
			.col-two {
				text-align: center;
				h6 {
					text-align: center;
				}
				h5 {
					float: none;
					text-align: center;
				}
				h4 {
					float: none;
				}
				span {
					float: none;

					margin-top: 5px;
					display: inline-block;
				}
			}
		}
	}
	.source > li {
		margin-bottom: 8%;
	}
	.window {
		.trebol {
			.leaf {
				h1 {
					font-size: 24px;
				}
			}
		}
	}
	.four-rows {
		.stats {
			.four_rows {
				div {
					p {
						font-size: 24px;
						line-height: 55px;

					}
					span {
						font-size: 32px;
						line-height: 54px;
					}
				}
			}
		}
	}
}

.box {
	.shadow(0 2px 2px rgba(0,0,0,.05));
	.border-radius(5px);
	background: white;
	margin-bottom: 30px;
	header {
		padding: 20px 30px;
	}
	article	{
		padding: 20px 30px;
	}
	.stat {
		margin: 0;
		header {
			h3 {
				span {
					margin-top: 8px;
				}
			}
		}
		article {
			padding: 0;
		}
	}
	&.simple {
		header {
			border-bottom: 1px solid #E4E9ED;
		}
	}
}


.report {
	> header {
		padding: 30px 0 ;
	}
	.rss, .googleplus, .linkedin {

	}
}
.report-header {
	.cf;

	position: relative;
	text-align: center;
	h4 {
		float: left;
		display: inline-block;
		margin-top: 14px;
		a {
			color: #9EA5B2;
			&:hover {
				color:#f06538;
			}
		}
	}
	h1 {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 500px;
		margin-left: -250px;
		margin-top: -24px;
		color: #1C2A3A;
		display: inline-block;
		font-size: 32px;
		line-height: 48px;
		font-weight: normal;
		a {
			margin: 0 10px;
		}
	}
	.options {
		float: right;
		text-align: center;
		display: inline-block;
		margin-top: 10px;
		li {
			list-style-type: none;
			display: inline-block;
			margin: 0 10px;
			a {
				display: block;
				color: #9EA5B2;
				font-weight: bold;
				font-size: 16px;
				line-height: 24px;
				&:hover {
					color: #F16739;
					.icon-email {
						background: url('../img/icons/email_orange.png') no-repeat;
					}
					.icon-download {
						background: url('../img/icons/download_orange.png') no-repeat;
					}
					.icon-print {
						background: url('../img/icons/print_orange.png') no-repeat;
					}
				}
			}
		}
	}
}

.base_data_report {
	section.fluid-row {
		margin-bottom: 20px;
		.cf;
		.logo {
			margin-bottom: 10px;
			span {
				font-size: 24px;
				vertical-align: middle;
			}
			img {
				margin-right: 10px;
				height: 24px;
			}
		}
	}
}

.smaller-headers {
	.stat {
		header {
			h3 {
				font-size: 18px;
			}
		}
	}
}
@media (min-width: 997px) and (max-width: 1199px) {
	.stat {
		header {
			h3 {
				font-size: 16px;
			}
		}
	}
}
@media (min-width: 768px) and (max-width: 997px) {
	ul.options {
		float: left !important;
	}
	.smaller-headers {
		> .span4 {
			width: 100%;
			margin-left: 0;
		}
	}
}


//Settings
.billing-block {
	> h2	{
		color: #9EA5B2;
		text-align: center;
	}
	.nav-tabs {
		border-bottom:none;
	}
	.bill-tab {
		margin:0;
	}
	.tab-content {
		background: white;
		border: 1px solid #ddd;
		.border-radius(0 5px 5px 5px);
		padding: 20px 30px 30px 30px;
	}
	.billing-tab-content {
		.billing_block {
			margin-bottom: 20px;
			thead {
				background: @darkGray;

			}
		}
		margin-top: 20px;
		> h3 {
			color: #9EA5B2;
			margin-top: 0;
		}
		h2 {
			margin-top: 0;
			&.tag-lg {
				margin-bottom: 5px;
			}
			span {
				display: block;
				margin-bottom: 10px;
				font-size: 24px;
				line-height: 32px;
			}
			small {
				display: block;
			}
		}
	}
}
.form-contact {
	.control-group {
		margin-bottom: 20px;
	}
	button {
		font-size: 24px;
	}
	label {
		font-size: 16px;
		font-weight: bold;
		color: #1A2A39;
		margin-bottom: 10px;
		span {
			color: #F16739;
			font-size: 16px;
			margin-left: 5px;
			height: 24px;
			display: inline-block;
			vertical-align: top;
		}
	}
}
.form-lightbox {
	.form-contact;
	width: 260px;
	margin: 20px auto 0;
	button {
		font-size: 16px;
	}
	> .span12 {
		margin-left: 0;
		.btn-primary {
			margin-right: 20px
		}
	}
}

.form-lightbox.updatecard {
	.form-contact;
	width: 400px;
	margin: 20px auto 0;
	button {
		font-size: 16px;
	}
	> .span12 {
		margin-left: 0;
		.btn-primary {
			margin-right: 20px
		}
	}
}


.selection {
	.cf;
	margin: 0;
	li {
		list-style-type: none;
		display: inline-block;
		float: left;
		label {
			margin-bottom: 0;
			background: white;
			padding: 15px;
			cursor: pointer;
			.border-radius(5px);
			border: 1px solid #ddd;
			box-sizing: border-box;
			img {
				margin-top: -2px;
			}
			input {
				margin-top: 0;
				margin-right: 10px;
			}
		}
		
		@media (min-width: 1200px) {
			width: 48%;
			margin-right: 2%;
			margin-bottom: 2%;	
		}
		@media (min-width: 997px) and (max-width: 1199px) {
			width: 48%;
			margin-right: 2%;
			margin-bottom: 2%;	
		}
		@media (min-width: 768px) and (max-width: 997px) {
			width: 100%;
			margin-right: 0;
			margin-bottom: 2%;	
		}
	}
	//buttons + checkboxs from BS3
	text-align: center;
	.btn {
		width: 80%;
		display: inline-block;
		//border: 1px solid @borderGray;
		background: @Gray;
		&.active, &:active {
			.btn-primary;			
			color: white;
			i.fa {
				color: white;
			}
		}
	}	
	.btn-group {
		width: 100%;
		margin-bottom: 20px;
	}
}


.generate-report {
	padding: 42px 30px;
	select {
		width: 100%;
		height: 40px;
		//margin-right: 2%;

	}
	button {
		width: 100%;
	}
}


.stop {
	h3 {
		float: inherit!important;
		a {
			color: #9EA7B3;
			margin: 0 auto;
			display: block;	
			width: 365px;
		}
	}
	.icon-stop {
		margin-right: 12px !important;
		margin-top: 9px !important;
	}
	&:hover {
		h3 {
			a {
				color: #F16739;
			}
		}
		.icon-stop {
			background: url('../img/icons/stop_hover.png') no-repeat;	
		}
	}
}

.competitors {
	padding: 0;
	.companies-list {
		margin: 0;
		li {
			@media (min-width: 1200px) {
				width: 31.6666666667%;
				margin-right: 2.5%;
			}
			@media (min-width: 997px) and (max-width: 1199px) {
				width: 31.914893617%;
				margin-right: 2.12765957447%;
			}
			@media (min-width: 768px) and (max-width: 997px) {
				width: 31.5972222222%;
				margin-right: 2.60416666667%;
			}
			&:last-child {
				margin-right: 0;
			}
			a.remove {
				text-align: center;
				display: block;
				color: #9EA7B3;
				width: 140px;
				margin: 0 auto;
				span {
					margin-top: 6px;
				}
				&:hover {
					color: #F16739;
					span {
						background: url('../img/icons/remove_hover.png') no-repeat;
					}
				}
			}
		}
	}
	.add-company {
		@media (min-width: 1200px) {
			width: 31.6666666667%;
			margin-left: 2.5%;
		}
		@media (min-width: 997px) and (max-width: 1199px) {
			width: 31.914893617%;
			margin-left: 2.12765957447%;
		}
		@media (min-width: 768px) and (max-width: 997px) {
			width: 31.5972222222%;
			margin-left: 2.60416666667%;
		}
	}
}

.add_company_function {
  width: 768px; 

  margin-top: -450px !important;
  margin-left:  -385px !important; 
  .modal-body {
    max-height: 400px;
    overflow: auto;
    text-align: center;
    padding: 40px;
  }
  .source_options {
  	.cf;
  	width: 600px;
  	margin-left: 20px;
  	margin-top: 10px;
  	label {
  		cursor: pointer;
  		display: block;
			width: 120px;
			float: left;	
			text-align: left;
  	}
  }
  form {
  	input[type="text"] {
  		width: 570px;
  		padding: 13px 14px;
		background: #F2F4F9;
		border: 1px solid #E4E8ED;
		.border-radius(5px);
		font-size: 20px;
		font-weight: bold;
		float: left;
		outline: none;
		line-height: 25px;
		box-shadow: none !important;
  	}
  }
  .results {
  	margin-top: 40px;
  	td {
  		padding: 20px;
  		vertical-align: middle;
  		&:first-child {
  			text-align: center;
  		}	
  	}
  	
  }
}

.signup-login {
	margin-top: 120px;
	.first	 {
		margin-left: 0 !important;	
	}
	button {
		color: white;
		padding: 20px;
		//@include text-shadow(none);
		text-transform: capitalize;
		font-size: 16px;
		font-weight: bold;
		padding-left: 40px;
		.border-radius(10px);
		&:hover {
			color: white;
			opacity: .8;
		}
		&.btn-primary {
			padding-left: 20px;
		}
	}
	.facebook {
		background: url('../img/icons/facebook_white.png') no-repeat left @facebook;
		background-position: 15% 50%; 
	}
	.twitter {
		background: url('../img/icons/twitter_white.png') no-repeat left @twitter;
		background-position: 15% 50%; 
	}
	.linkedin {
		background: url('../img/icons/linkedin_white.png') no-repeat left @linkedin;
		background-position: 15% 50%; 
	}
	.linked_in {
		background: url('../img/icons/linkedin_white.png') no-repeat left @linked_in;
		background-position: 15% 50%; 
	}
	.googleplus {
		background: url('../img/icons/googleplus_white.png') no-repeat left @google;
		background-position: 15% 50%; 
	}
	.google_plus {
		background: url('../img/icons/googleplus_white.png') no-repeat left @google_plus;
		background-position: 15% 50%; 
	}

	h2, h3 {
		text-align: center;
		color: #1A2A39;
		margin-bottom: 40px;
	}
	h3 {
		font-weight: normal;
		margin: 40px 0;
	}

	input {
		padding: 17px 14px 17px 14px;
		background: white;
		border: 1px solid #E4E8ED;
		.border-radius(5px);
		font-size: 16px;
		font-weight: bold;
		float: left;
		outline: none;
		line-height: 25px;
		box-shadow: none !important;
		height: inherit !important;
	}
	form {
		.span3 {
			margin-bottom: 20px;
		}
	}
}

.card_info {
	margin-top: 120px;
	h5 {
		color: #9EA5B2;
		font-size: 18px;
		line-height: 28px;
	}
	p {
		color: #9EA5B2;
		font-weight: normal;
		font-size: 14px;
		line-height: 24px;
	}
	.span2 {
		&:first-child {
			margin-left: 0%!important;
		}
	}
	.span6 {
		input {
			//width: 100%;
			float: left;	
			padding: 14px 14px 13px 14px;
			background: white;
			border: 1px solid #E4E8ED;
			.border-radius(5px);
			font-size: 20px;
			font-weight: bold;
			float: left;
			outline: none;
			line-height: 25px;
			box-shadow: none !important;
			margin-bottom: 10px;
		}
		
	}
	.submit {
		text-align: center;
		button {
			width: 100%;
		}
	}
	.select2-container .select2-choice {
		padding: 12px;
		height: 54px;
	}
	.select2-container .select2-choice .select2-arrow b {
		background-position: 0 13px;
	}
	.control-group {
		height: 90px;
	}
}
.pull-left {
	margin-left: 0%!important;
}
.pull-right {
	float:right;
}

@media (min-width: 1200px) {

}
@media (min-width: 997px) and (max-width:1199px) {
	.card_info {
		.span4 {
			input {
				.border-radius(5px);
				font-size: 16px;
			}
		}
	}
	.signup-login {
		
		button {
		
			padding: 10px;
			
			font-size: 12px;
			
			padding-left: 20px;
			.border-radius(10px);
			
			&.btn-primary {
				padding-left: 10px;
			}
		}
		input {
			padding: 7px 14px;
		}
	}
}
@media (min-width: 1px) and (max-width:997px) {
	.card_info {
		.span4 {
			input {
				.border-radius(5px);
				font-size: 14px;
			}
		}
	}
	.signup-login {
		
		button {
		
			padding: 5px;
			font-size: 12px;
			padding-left: 30px;
			.border-radius(10px);
			
			&.btn-primary {
				padding-left: 5px;
			}
		}
		input {
			padding: 3px 14px 2px 14px;
			font-size: 12px;
		}
	}
}


.pricing {
	//width: 870px;
	//margin: 120px auto 0 auto;
	.cf;
	h2 {
		text-align: center;
		color: #1B2A39;
		margin-bottom: 40px;
	}
	.plan {
		//width: 270px;
		//margin-right: 30px;
		float: left;
		text-align: center;
		
		display: block;
		.border-radius(10px);
		.cf;
		margin-bottom: 40px;

		&:last-child {
			margin-right: 0;
		}
		header {
			background: #1B2A39;
			font-size: 32px;
			color: white;
			font-weight: bold;
			padding: 40px 20px;
			margin: 0;
			.border-radius(10px 10px 0 0);
		}
		.orange {
			background: #F16739;
			padding: 20px;
			color: white;
			margin: 0;
			p {
				font-size: 16px;
				font-weight: normal;
			}
			h3 {
				font-size: 24px;
				font-weight: bold;
				line-height: 24px;
			}
		}
		article {
			margin: 0;
			padding: 20px;
			min-height: 120px;
			background: white;
			h4 {
				color: #1A2A39;
				font-size: 20px;
				font-weight: bold;
				display: block;
				height: 40px;
				margin-top: 0px;
			}
			h5 {
				color: #1A2A39;
				font-size: 16px;
				font-weight: normal;
				display: block;
				height: 40px;
			}
			p {
				color: #9EA5B2;
				font-size: 14px;
				font-weight: normal;
			}
		}
		.choose {
			margin: 0;
			padding: 40px 20px;
			background: #00A4C7;
			color: white;
			font-size: 24px;
			font-weight: bold;
			display: block;
			.border-radius( 0 0 10px 10px);
			&:hover {
				background: #008CAA;
			}
		}
	}
}





.details {
	margin: 40px auto;
	//width: 870px;
	.cf;
	h2 {
		text-align: center;
		color: #1B2A39;
		margin-bottom: 40px;
	}
	table {
		td {
			background: white;
			color: #192A39;
			font-size: 14px;
			font-weight: bold;
			text-align: center;
			width: 20%;
			span {
				color: #F16639;
			}
		}
		th {
			padding: 20px;
			text-align: center;
			line-height: 40px;
		}
		.gray {
			color: #9EA5B2;
			font-weight: normal;
		}
		&.sexy {
			td {
				&:first-child {
					text-align: left;
					font-weight: normal;
					width: 40%;
				}
			}
		}
	}
}

table.addons {
	td {
		text-align: left;
		font-weight: normal;
	}
}

.special {
	p.badge {
		font-size: 28px;
		font-weight: bold;
	}
	del {
		color: @borderGray;
		padding: 0 5px;
		font-size: 28px;
	}
}

@media (min-width: 768px) and (max-width: 1199px) {
	.pricing {
		//width: 670px;
		//margin-top: 160px;
		.plan {
			//width: 210px;
			//margin-right: 20px;
			header {
				font-size: 26px;
				padding: 30px 20px;
				.border-radius(10px 10px 0 0);
			}
			.orange {
				padding: 15px;
				p {
					font-size: 14px;
				}
				h3 {
					font-size: 20px;
					line-height: 24px;
				}
			}
			article {
				padding: 20px;
				min-height: 120px;
				h4 {
					font-size: 16px;
					height: 40px;
				}
				h5 {
					font-size: 14px;
					height: 40px;
				}
				p {
					font-size: 12px;
				}
			}
			a {
				padding: 30px 20px;
				font-size: 20px;
			}
		}
	}
	.details {
		margin: 40px auto;
		width: 670px;
		td {
			width: 20%;
			&:first-child {
				width: 40%;
			}
		}
	}
}


//Homepage

header.top.homepage {
	position: fixed;
	width:100%;
	box-sizing: border-box;
	z-index: 999;
	.shadow;
	ul {
		li {
			margin-left: 19px;
			&:first-child {
				margin-left: 0;
			}
		}
	}
	nav.nav {
		float: right;
	}
}

#pagewrapper {
	z-index: 998;
}

section.home  {
	.container {
		padding: 100px 0;
	}
	
	//margin-top: -50px;
	
	&.blue {
		background: #1C2A3A;
		color: white;
	}
	&.white {
		background: white;
		color: #1B2A39;
		h1 {
			margin-bottom: 80px;
			font-size: 56px;	
			text-align: center;
		}
	}
	&.gray {
		background: #F1F3F5;
		color: #1B2A39;
		h1 {
			font-size: 56px;
			text-align: center;	
			margin-bottom: 80px;
		}
	}
}

footer.home {
	.container {
		padding: 60px 0;
		
	}
}
section.home.blue {
	padding: 60px 0 0 0;
}
.login_signup {
	right: 0;
	bottom: -60px;
	margin: 0 !important;
	position: absolute;
	li {
		display: inline-block !important;
		.shadow;
		a {
			color: white;
			display: block;
			padding: 10px 20px;
			.border-radius(0 0 5px 5px);
			background: #55606C;
			&:hover {
				background: #00A4C7;
				color: white !important;
			}
		}
	}
}
footer.blue {
	padding: 0 10px;
	margin: 0;
	background: #1C2A3A;
	color: white;
}

.top-main {
	text-align:center;
	.cf;
	.search_company  {
		margin: 80px auto 2px auto;
		background: transparent;
		.source_options {
			padding-left: 10px;
			label {
				img {
					margin-top: 4px;
				}
			}
		}
		position: relative;
		.text_sample {
			position: absolute;
			margin: 0 auto;
			display: block;
			width: 100%;
			top: 120px;
			color: #55606C;
			font-weight: bold;
			a {
				color: #0E6780;
			}
		}
	}
}


#cases {
	padding-left: 0;
	margin: 0 auto;
	display: block;
	li {
    margin: 5px;
    padding: 5px;
    border-bottom: 2px dashed white;
    display: none;
    //width: 700px;
    &:first-child {
    	display: block;
    }
    h1 {
    	color:#F16639;
    	padding: 20px 0;
    }
	} 
}



#cases h3 {
    display: inline-block;
}


.how_works {
	.col-md-3 {
		text-align: center;
		header {
			background: #00A4C7;
			padding: 20px;
			color: white;
			.border-radius(8px 8px 0 0);
			h2 {
				font-size: 24px;
			}
		}
		article {
			padding: 40px;
			background: #F1F3F5;
			min-height: 95px;
		}
		footer {
			padding: 1px 40px 40px 40px;
			background: #F1F3F5;
			.border-radius(0 0 8px 8px);
			h5 {
				color: #9EA6B2;
				font-size: 24px;
				font-weight: bold;
				line-height: 36px;
				min-height: 108px;
			}
		}
	}
	.select_sources {
		article {
			text-align: center;
			img {
				display: inline-block;
			}
		}
	}
}

.use_cases {
	.col-md-6 {
		margin-bottom: 40px;
		img {
			float: right;
			margin-top: 5px;
		}
		h2 {
			margin-top: 0;
			font-size: 28px;
			font-weight: bold;
			line-height: 42px;
			color: #F16639;
			padding-left: 20px;
		}
		p {
			font-size: 18px;
			line-height: 30px;
			padding-left: 20px;
		}
		header {
			min-height: 365px;
		}
	}
}

.product_tour {
	text-align: center;
	.col-md-6 {
		margin-bottom: 40px;
	}
	h2 {
		color: #00A4C6;
		font-size: 32px;
		line-height: 44px;

	}
	p {
		font-size: 20px;
		line-height: 30px;
	}
	.col-md-6 img {
		padding: 10px;
		border: 1px solid #F1F3F5;
		.border-radius(5px);
	}
	.sources_tracked {
		text-align: center;
		ul {
			.cf;
			max-width: 800px;
			width: 100%;
			margin: 30px auto;
			text-align: center;
			padding: 0;
		}
		h4 {
			color: #9EA5B2;
			font-size: 24px;
			line-height: 32px;
		}
		li {
			list-style-type: none;
			display: inline-block;
			height: 40px;
			text-align: center;
			color: #1B2A39;
			font-size: 20px;
			line-height: 32px;
			font-weight: bold;
			width: 30%;
			margin-bottom: 20px;
			img {
				margin-right: 10px;
			}
		}
	}
	p {
		width: 100%;
		color: #9EA5B2;
		font-size: 14px;
	}
}

.plans {
	.pricing {
		.cf;
	}
	.show_plans {
		display: block;
		width: 100%;
		text-align: center;
		cursor: pointer;
		color:#F16739;
		font-size: 18px;
		font-weight: bold;
	}
	.details {
		//display: none;
	}
}

.show_plans {
	display: block;
	width: 100%;
	text-align: center;
	cursor: pointer;
	color:#F16739;
	font-size: 18px;
	font-weight: bold;
}
.about_us {
	h4 {
		color: #9EA5B2;
		font-size: 24px;
		line-height: 36px;
		text-align: center;
		font-weight: normal;
		margin-bottom: 40px;
	}
	h5 {
		color: #9EA5B2;
		font-size: 18px;
		line-height: 32px;
		text-align: left;
		font-weight: normal;
		margin-bottom: 40px;
	}
	a.blue {
		color: #00A4C5;
	}
	strong {
		color: #1C2A3A;
		font-weight: normal;
	}
}

.contact_us {
	h1 {
		margin-bottom: 20px;
	}
	input[type="text"] {
		padding: 6px;
		background: #F2F4F9;
		border: 1px solid #E4E8ED;
		.border-radius(5px);
		font-size: 20px;
		font-weight: bold;
		float: left;
		outline: none;
		line-height: 25px;
		box-shadow: none !important;
		box-sizing: border-box;
		float: right;
		&:first-child {
			float: left;
		}
	}
	textarea {
		box-sizing: border-box;
	}
	button {
		margin-left: 0!important;
	}
	.address {
		iframe {
			width: 370px;
			height: 270px
		}
		p {
			font-size: 16px;
		}
	}
	.social {
		ul {
			margin: 0;
		}
		li {
			float: left;
			width: 50%;
			list-style-type: none;
			height: 50px;
			a {
				color: white;
				font-size: 22px;
				font-weight: bold;
				img {
					margin-right: 10px;
				}
			}
		}
	}
}


@media (min-width: 1200px) {
	.top-main {
		h1 {
			font-size: 56px;
		}
		.search_company  {
			width: 910px;
			.source_options {
			}
			input[type="text"] {
				//width: 80.684685%;
				//margin-right: 3.18681318681%;	
			}
			button {
				//width: 15.3846153846%;	
			}
		}
	}
}
@media (min-width: 992px) and (max-width:1199px) {
	section.home {
		.container {
			padding: 130px 0;
		}
		.search_company form input[type="text"], .search_company_results form input[type="text"] {
			width: 100%;
		}
	}

		
	.signup-login {
		margin-top: 160px;
	}
	header.top.homepage {
		padding: 20px 0;
		.col-md-8, .col-md-4 {
			width: 100%;
			text-align: center;
		}
		.col-md-8 {
			margin-top: 0px;
			margin-left: 0;
			ul {
				float: inherit;
				//margin: 20px auto 10px 107.5px;
				//width: 725px;
				&.login_signup {
					width: 220px;
					bottom: -60px;
				}
			}
		}
		nav.nav {
			float: none;
			ul {
				li {
					float: none;
					display: inline-block !important;
				}
			}
		}
	}
	.top-main {
		h1 {
			font-size: 48px;
		}
		.search_company  {
			max-width: 800px;
			.source_options {
			}
			input[type="text"] {
				//width: 78.75%;
				//margin-right: 3.75%;	
			}
			button {
				//width: 17.5%;	
			}
		}
	}
	.product_tour .col-md-6 img {
		max-width: 438px;
	}
	.how_works  {
		.col-md-4 footer h5 {
			min-height: 144px;
		}
		.col-md-3 {
			header {
				h2 {
					font-size: 18px;
				}
			}
			footer {
				h5 {
					font-size: 20px;
					line-height: 26px;	
				}
			}
		}
	}
	.product_tour .sources ul {
		padding-left: 20%;
		width: 740px;
	}

	.use_cases .col-md-6  {
		h2 {
			font-size: 24px;
			line-height: 32px;
		}
		p {
			font-size: 16px;
			line-height: 26px;
		}
	}
	.contact_us .address iframe { 
		width: 300px;
		height: 230px;
	}
	.contact_us .social li a  {
		font-size: 16px;
	}
	.about_us .dan  {
		.col-md-4, .col-md-8 {
			width: 100%;
			text-align: center;
			h5 {
				margin-top: 20px;
				text-align: center;
			}
		}
	}
}

@media (min-width: 768px) and (max-width:991px) {
	header.top.homepage {
		padding: 20px 0;
		.col-md-8, .col-md-4 {
			width: 100%;
			text-align: center;
		}
		.col-md-8 {
			margin-top: 0;
			margin-left: 0;
			ul {
				float: inherit;
				//margin: 10px auto 10px 0;
				//width: 725px;
				&.login_signup {
					width: 220px;
					bottom: -60px;
				}
			}
		}
		ul li {
			margin-left: 0;
		}
	}
	.signup-login {
		margin-top: 200px;
	}
	.top-main {
		h1 {
			font-size: 40px;
		}
		.search_company  {
			width: 700px;
			.source_options {
			}
			input[type="text"] {
				width: 100%;
				//margin-right: 4.28571428571%;	
			}
			button {
				
			}
		}
	}
	.product_tour .col-md-6 img {
		max-width: 600px;
	}
	.how_works_section {
		margin-bottom: 40px;
	}
	.how_works .col-md-4 footer h5 {
		min-height: 114px;
	}
	.how_works .col-md-4 header h2 {
		font-size: 20px;	
	}
	.how_works .col-md-4 article {
		min-height: 65px;
		padding: 20px;
		img {
			max-height: 60px;
		}
	}
	.how_works .col-md-4 footer {
		padding: 1px 20px 20px 20px;
		h5 {
			font-size: 18px;
			line-height: 28px;
		}
	}
	.product_tour .sources ul {
		padding-left: 14%;
		width: 570px;
	}

	.use_cases .col-md-6  {
		h2 {
			font-size: 24px;
			line-height: 32px;
		}
		p {
			font-size: 16px;
			line-height: 26px;
		}
		img {
			//max-width: 80px;

		}
		header {
			min-height: 430px;
		}
	}
	.contact_us h1 {
		font-size: 28.5px;
	}
	.contact_us .address iframe { 
		width: 230px;
		height: 210px;

	}
	.contact_us .social li a  {
		font-size: 14px;
		img {
			margin-right: 5px;
			max-width: 18px;
		}
	}
	.about_us .dan  {
		.col-md-4, .col-md-8 {
			width: 100%;
			text-align: center;
			h5 {
				margin-top: 20px;
				text-align: center;
			}
		}
	}
	#menu-opener {
		top: -40px;
		position: absolute;
		right: 0;
	}
	nav.nav ul.menu, nav.nav:active ul.menu {
		right: 0;
		top: 0px;
	}
}

@media (max-width: 768px) {
	section.home .container {
		padding: 75px 10px;
	}
	section.home.gray h1, section.home.blue h1, section.home.white h1 {
		font-size: 36px;
	}
	section.blue {
		.container {
			
			.top-main {

				> h1 {
					
				}
				.search_company {
					input[type="text"] {
						width: 100%;
						font-size: 16px;
					}
					button {
						font-size: 16px;
						padding: 22px 14px;
					}
				}
			}
		}
	}

	.how_works  {
		.col-md-4 footer h5 {
			
		}
		.col-md-3 {
			margin-bottom: 20px;
			header {
				padding: 10px;
				h2 {
					font-size: 18px;
				}
			}
			article {
				padding: 20px;
			}
			footer {
				padding: 1px 20px 20px 20px;
				h5 {
					min-height: 70px;
					font-size: 20px;
					line-height: 26px;	
				}
			}
		}
	}
	.pricing {
		.plan {
			//width: 210px;
			//margin-right: 20px;
			header {
				font-size: 26px;
				padding: 30px 20px;
				.border-radius(10px 10px 0 0);
			}
			.orange {
				padding: 15px;
				p {
					font-size: 14px;
				}
				h3 {
					font-size: 20px;
					line-height: 24px;
				}
			}
			article {
				padding: 20px;
				min-height: 120px;
				h4 {
					font-size: 16px;
					height: 40px;
				}
				h5 {
					font-size: 14px;
					height: 40px;
				}
				p {
					font-size: 12px;
				}
			}
			a {
				padding: 30px 20px;
				font-size: 20px;
			}
		}
	}
	.product_tour {
		img {
			max-width: 320px;
		}
	}
	.contact_us {
		form {
			input, textarea, button {
				margin-bottom: 10px;
			}
		}
	}
}



/*.sources_tracked {
	margin-top: 10px;
	ul {
		margin: 0;
		padding: 0;
		li {
			color: #9EA5B2;
			font-weight: normal;
			display: inline-block;
			text-align: center;
			list-style-type: none;
			margin: 0 10px;
			font-size: 18px;
			.fa {

			}
			img {
				max-width: 50px;
				margin-right: 3px;
				margin-top: -2px;
			}
		}
	}
}*/

body > footer {
	margin-top: 50px;
	
	p {
		text-align: center;	
	}
}


.track {
	.modal-dialog {
		@media screen and (min-width: 768px) {
			width: 748px;
		}
	}
	.steps {
		ul {
			li {
				a {
					text-align: center;
					font-size: 16px;
					line-height: 32px;
					.number {
						display: block;
						width: 100%;
					}
					p {
						padding: 0;
					}
				}
				&.done {
					a {
						.number:after {
							left: 80px;
						}
					}
				}
			}
		}
	}
	.signup-login {
		margin-top: 0;
		button {
			padding: 20px 16px;
		}
		.submit {
			margin-top: 9px;
		}
	}
	.search_company {
		margin-top: 0;
		margin-bottom: 20px;
		form input[type="text"] {
			width: 76.684685%;
		}
		form {
			.source_options {
				margin-bottom: 20px;
				border-bottom: 1px solid @borderGray;
				padding-bottom: 20px;
				padding-left: 14px;
			}
		}
	} 
	.results {
		ul.list {
			li {
				//width: 100%;
				background: @lighterGray;
				header {
					padding: 0;
					height: inherit;
					
					background: @lighterGray;
					position: relative;
					h4 {
						text-align: left;
						margin-bottom: 10px;
						width: 65%;
					}
					a, label {
						position: absolute;
						right: 0;
						top: -10px;
					}
					label {
						color: @Orange;
					}
				}
			}
		}
	}
}

.upgrade {
	.modal-dialog {
		@media screen and (min-width: 768px) {
			width: 748px;
		}
	}
}

.modal {
	.pricing {
		margin-top: 20px;
		.plan {
			width: 215px;
			header {
				font-size: 24px;
				padding: 20px;
			}
			.orange {
				padding: 15px;
				h3 {
					font-size: 20px;
				}
			}
			article {
				padding: 15px;
				background-color: @lighterGray;
				max-height: 220px;
				h4 {
					font-size: 16px;
				}
				h5 {
					height: 30px;
				}
			}
			a {
				padding: 20px;
				font-size: 18px;
			}
		}
	}
	.tab-content {
		padding-top: 20px;
	}
	.selection {
		padding: 0;
		li {
			width: 48%;
			label {
				width: 100%;
			}
		}
	}
}

.manage_competitors {
	tr {
		td {
			
			padding: 10px;
			box-sizing: border-box;
			width: 30%;
			border-top: none;
			text-align: center;
			img {
				margin: 10px auto;
				display: block;
				vertical-align: middle !important;
				max-height: 50px;
			}
			a {
				width: 70px;
				margin: 0 auto;
				display: block;
			}
		}
	}
}

.timeline_table {
	width: 100%;
}

.boxie {
	padding: 20px;
	background: white;
	.shadow;
	.border-radius;
}

.timeline {
	padding: 0;
	.cf;
	li {
		list-style-type: none;
		padding: 0;
		margin-bottom: 20px;
		.cf;
		.type_source {
			width: 6%;
			margin-right: 2%;
			float: left;
			text-align: center;
			.type  {
				position: relative;	
				background: white;
				.border-radius(34px);
				.shadow;
				box-sizing: border-box;
				padding: 17px;
				width: 50px;
				height: 50px;
				display: block;
				margin: 0 auto;
				&:before {
					position: absolute;
					color: @darkGray;
					margin: 0;
					width: 16px;
					height: 16px;
					left: 50%;
					top: 50%;
					margin-top: -8px;
					margin-left: -8px;
				}
			}
			.source_feed {
				width: 100%;
				text-align: center;
				display: block;
				margin-top: 10px;
				opacity: .5;

				&:hover {
					opacity: 1;
				}
			}
				
		}
		.info {
			float: left;
			.boxie;
			width: 92%;
			position: relative;
			
			&:after, &:before {
				right: 100%;
				top: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
			}
			&:after {
				border-color: rgba(136, 183, 213, 0);
				border-right-color: white;
				border-width: 5px;
				margin-top: -35px;
			}
			&:before {
				border-color: rgba(194, 225, 245, 0);
				border-right-color: rgba(0, 0, 0, 0.02);
				border-width: 7px;
				margin-top: -37px;
			}
			abbr {
				width: 12%;
				float: right;
				text-align: right;
				text-decoration: none;
				color: @darkGray;
				border-bottom: 0;
			}
			.source_feed {
				float: right;

			}
			a {
				display: block;
				width: 85%;
				float: left;
				
			}
		}

		@media (min-width: 992px) and (max-width:1199px) {
			.info {
				width: 91%;
			}
		}
		@media (min-width: 768px) and (max-width:992px) {
			.info {
				width: 89%;
				a {
					width: 80%;
				}
				abbr {
					width: 15%;
				}
			}
		}

		&[type="funding"] {
			.type:before {
				font-family: FontAwesome;
				content: "\f0d6";
				display: inline-block;
				font-style: normal;
				font-weight: normal;
				line-height: 1;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}

		&[type="people"] {
			.type:before {
				font-family: FontAwesome;
				content: "\f0c0";
				display: inline-block;
				font-style: normal;
				font-weight: normal;
				line-height: 1;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}

		&[type="investment"] {
			.type:before {
				font-family: FontAwesome;
				content: "\f155";
				display: inline-block;
				font-style: normal;
				font-weight: normal;
				line-height: 1;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}

		&[type="news"] {
			.type:before {
				font-family: FontAwesome;
				content: "\f129";
				display: inline-block;
				font-style: normal;
				font-weight: normal;
				line-height: 1;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}

		&[type="milestone"] {
			.type:before {
				font-family: FontAwesome;
				content: "\f091";
				display: inline-block;
				font-style: normal;
				font-weight: normal;
				line-height: 1;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}

		&[type="video"] {
			.type:before {
				font-family: FontAwesome;
				content: "\f03d";
				display: inline-block;
				font-style: normal;
				font-weight: normal;
				line-height: 1;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}

		&[type="link"] {
			.type:before {
				font-family: FontAwesome;
				content: "\f0c1";
				display: inline-block;
				font-style: normal;
				font-weight: normal;
				line-height: 1;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}

		&[type="photo"] {
			.type:before {
				font-family: FontAwesome;
				content: "\f03e";
				display: inline-block;
				font-style: normal;
				font-weight: normal;
				line-height: 1;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}

		&[type="tweet"] {
			.type:before {
				font-family: FontAwesome;
				content: "\f099";
				display: inline-block;
				font-style: normal;
				font-weight: normal;
				line-height: 1;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}

		&[type="article"] {
			.type:before {
				font-family: FontAwesome;
				content: "\f15c";
				display: inline-block;
				font-style: normal;
				font-weight: normal;
				line-height: 1;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}

		&[type="event"], &[type="activity"] {
			.type:before {
				font-family: FontAwesome;
				content: "\f133";
				display: inline-block;
				font-style: normal;
				font-weight: normal;
				line-height: 1;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}

		&[type="album"] {
			.type:before {
				font-family: FontAwesome;
				content: "\f02d";
				display: inline-block;
				font-style: normal;
				font-weight: normal;
				line-height: 1;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}

		&[type="note"], &[type="status"] {
			.type:before {
				font-family: FontAwesome;
				content: "\f14b";
				display: inline-block;
				font-style: normal;
				font-weight: normal;
				line-height: 1;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}
	}
	&.has_company {
		li {
			.info {
				.company {
					float: left;
					width: 10%;
					
					img {
						max-width: 100%;
					}
				}
				a {
					width: 73%;
					margin-left: 2%;
				}
			}
		}
	}
}

.grayed-out {
    opacity: 0.5;
    background-color: #000000;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1030;
}



.new_account {
	form.form-horizontal, form.updatecard {
		background: white;
		padding: 20px;
		.border-radius(5px);
		.shadow;
		text-align: center;
		fieldset {
			legend {
				border-bottom: 0;
				font-size: 14px;
			}

		}
		.checkbox-inline {
			font-size: 16px;
			margin-bottom: 20px;
		}
		.raw {
			
			.row-fluid {
				overflow: hidden;
				display: block;
				padding-top: 5px;
				padding-bottom: 5px;
			}
			.plan {
				font-size: 18px;
				font-weight: bold;
				div:first-child {
					color: @darkGray;
				}
			}
			.addon {
				color: @borderGray;
			}
			.subaddon {

			}
			.total {
				.plan;
				padding-top: 20px;
				font-size: 24px;
			}
		}
	}
	.nav-tabs {
		border-bottom: none;
		li  {
			a {
				border: none;
				.border-radius(4px);
				&:hover {
					border: none;
				}
			}
		}
	}
	.search_company_results {
		article {
			padding: 0;
			background: transparent;
			.span12 {
				padding: 0;	
				.form-horizontal {
					margin-bottom: 0;
				}
			}
		}
	}
	.results {
		.search-results {
			tbody {
				tr:first-child {
					td {
						border-top: 0;
					}
				}
			}
		}
	}
}


/* Registration | Adding Company */
.registration {
	>header {
		.cf;
		margin: 20px 0 10px 0;
		p, img, h3, a {
			float: left;
			vertical-align: middle;
			margin-right: 10px;
		}
		p {

		}
		img {

		}
		h3 {
			margin: 0 10px 0;
		}
		a {
			display: block;
		}
	}
}

.box_tab {
	background: #F8F9FA;
	padding: 0;
	.border-radius(5px);
	.cf;
	.tabs {
		background: #fff;
		width: 25%;
		float: left;
		ul {
			border: none;
			li {
				border: none;
				a {
					margin-right: 0;
					font-family: 'Oxygen', sans-serif;
					font-weight: normal;
					padding: 30px 20px;
					border: none;
					border-radius: 0;
					font-size: 18px;
					&:hover {
						background: @Blue;
						color: white;
						border: none;
						span {
							color: @darkGray;	
						}
					}
					span {
						display: inline-block;
						font-size: 24px;
						font-weight: bold;
						background: #fff;
						.border-radius(50%);
						border: 1px solid @darkGray;
						width: 50px;
						height: 50px;
						text-align: center;
						box-sizing: border-box;
						padding-top: 14px;
						margin-right: 10px;
					}
				}
				&.active {
					a {
						span {
							color: @darkBlue;
							border: none;
						}
					}
				}
				&:first-child {
					a {
						.border-radius(5px 0 0 0);
					}
				}
				&:last-child {
					a {
						.border-radius(0 0 0 5px);	
					}
				}
				+ li {
					margin-top: 0px;
				}
			}
		}
	}
	.tab-content {
		width: 75%;
		float: left;
		background: #F8F9FA;
		padding: 30px;
		.border-radius(0 5px 5px 0);
		header {
			padding: 0 0 20px 0;
			h2 {
				float: left;
			}
			button {
				float: right;
			}
		}
		article {
			ul.sources {
				li {
					width: 27%;
					display: inline-block;
					margin: 0 20px;
					.cf;
					.ck-button {
						width: 100%;
						label {
							width: 100%;
							input {

							}
							span {
								font-size: 18px;
								padding: 25px 10px;
								i.fa {
									margin-right: 15px;
								}
								img {
									margin-right: 15px;	
								}
							}
						}
					}
				}
			}
		}
		article.search_company_results {
			margin-top: 30px;
			background: transparent;
			form {
				.source_options {
					.radio {
						float: left;
					}
					img {
						float: left;
						margin-top: 7px;	
					}
				}
			}
		}
	}
}


.registration {
	padding-top: 83px;
	.results {
		ul.list {
			.cf;
			li {
				.shadow;
				.border-radius;
				header {
					margin: 0;
					max-height: 50px;
					border-bottom: 0;
					h4 {
						width: 65%;
					}
				}
			}
		}
	}
	.pricing {
		margin: 0;
		padding: 0;
		.plan {
			width: 28%;
			header {
				padding: 40px 20px;
				border-bottom: 0;
			}
			article {
				p {
					font-size: 13px;
				}
			}
		}
	}
	.card_info {
		margin: 0;
	}
	.plan_details {
		h5 {
			color: @darkGray;
			margin: 20px 0;
		}
		h3 {
			color: @Orange;
			font-size: 24px;
		}
	}
	.card-header {
		.cf;
		padding-top: 20px;
		h3 {
			color: @darkGray;
			font-weight: normal;
			float: left;
		}
		a {
			float: right;
		}
	}
}


.added_competitors {
	margin: 0;
	padding: 0;
	li {
		font-size: 16px;
		font-weight: bold;
		display: inline-block; 
		background: white;
		.shadow;
		text-align: center;
		padding: 10px;
		.border-radius;
		position: relative;
		margin-right: 10px;
		&:hover {
			a.remove {
				color: @Red;
			}
		}
		a.remove {
			position: absolute;
			top: -5px;
			right: -10px;
			margin-right: 0;
			color: @darkGray;
		}
	}
}


/* Fixes */
table.dataTable tr.odd {
	background-color: transparent !important;
}


.select_box {
	margin-top: 20px;
	label {
		width: 100%;
		cursor: pointer;
	}
	input[type=radio], input[type=checkbox] {
		display:none;
	}

	input[type=radio] + label.select_box, input[type=checkbox] + label.select_boxv {
		display:inline-block;
		margin:-2px;
		padding: 4px 12px;
		margin-bottom: 0;
		font-size: 14px;
		line-height: 20px;
		color: #333;
		text-align: center;
		text-shadow: 0 1px 1px rgba(255,255,255,0.75);
		vertical-align: middle;
		background-color: #f5f5f5;
		border: 1px solid #ccc;
	}
	 input[type=radio]:checked + label, input[type=checkbox]:checked + label{
		background-image: none;
		outline: 0;
		.panel-heading {
			.btn-primary;
			color: white;
		}
		.panel-body {

		}
		.panel-footer {
			.btn-primary;
			color: white;
		}
	}
	.panel {
		border: 1px solid #dddddd;
		.panel-heading {
			background-color: #f5f5f5;
		}
		.panel-body {
			.lead {
				margin-bottom: 0;
				font-size: 26px;
				strong {
					font-size: 32px;
				}
			}
		}
		.panel-footer {
			
		}
	}
}

