// Texts & Fonts

h1, h2, h3, h4, h5, h6, body, html {
	font-family: 'Oxygen', sans-serif;
}

a {
	color: #F16639;
	&:hover {
		color: #F16639 - 1 ;
		text-decoration: none;	
	}
}


@import url(//fonts.googleapis.com/css?family=Oswald);