//
// Variables
// --------------------------------------------------

// Colors
// -------------------------

@deepBlue:					#1C2A3A;
@darkerBlue:				#324560;
@darkBlue:					#375172;
@Blue:						#00A4C7;
@White:						#FFF;
@lighterGray:				#F7F8F9;
@lightGray:					#EFF2F5;
@Gray:						#E0E7EB;
@Grayer:					#D2DDE3;
@darkGray:					#839DAC;
@Red:						#ED5F5A;
@Orange:					#F16739;
@Yellow:					#FBB450;
@Green:						#A6E622;
@borderGray:				#C5D1D8;

// Extra colors
// -------------------------
@facebook: 					#3B5998;
@flickr: 					#FE0883;
@foursquare: 				#8FD400;
@google: 					#C63D2D;
@google_plus:				#C63D2D;
@instagram: 				#4E433C;
@linkedin: 					#4875B4;
@linked_in: 				#4875B4;
@tumblr: 					#2B4964;
@twitter: 					#33CCFF;
@vimeo: 					#86B32D;
@youtube: 					#FF3333;
@rss: 						#F16739;
@crunchbase:				#2090a5;
@pinterest:					#e3262e;
@glassdoor:					#7cb228;
@mentions:					#a554a0;
@webalerts:					#F7931A;
@indeed:					#2164F3;
@sec_alerts:				#075989;
@angel_list:				#2164F3;
@github:					#171515;
@bitbucket:					#205081;
@wikipedia:					#080808;
@patents:					#DA140A;
@yelp:						#C41200;
@dns:						#277CBF;
@alexa:						#3B81DE;
@screenshot:				#7BBF6A;

@custom_data:				#f48734; //CUSTOM

/*add new source color here
@newsourcecolorhere:		#xxxxxx;
*/

@i-facebook:				'\f09a';
@i-twitter:					'\f099';
@i-linkedin:				'\f0e1';
@i-instagram:				'\f16d';
@i-linked_in:				'\f0e1';
@i-google:					'\f0d5';
@i-google_plus:				'\f0d5';
@i-crunchbase:				'\e602';
@i-rss:						'\f09e';
@i-pinterest:				'\f0d2';
@i-glassdoor:				'\e603';
@i-mentions:				'\e601';
@i-webalerts:				'\f0f3';
@i-indeed:					'\e607';
@i-sec_alerts:				'\f19c';
@i-angel_list:				'\f209';
@i-github:					'\f09b';
@i-bitbucket:				'\f171';
@i-wikipedia:				'\e606';
@i-youtube:					'\f16a';
@i-patents:					'\e605';
@i-yelp:					'\f1e9';
@i-dns:						'\e608';
@i-alexa:					'\e604';
@i-custom_data:				'\f080';
@i-screenshot:				'\e609';


/*add new source icon here
@newsourceiconhere:			'\xxxx';
*/